.container {
    padding-top: 20px;
  }
  
  .mobile-label {
      display: none;
    }
  
  .icono {
    color: #f36904;
    margin-left: 15px;
    margin-right: 10px;
    display: flex;
    vertical-align: middle;
    }
  
  .titulo {
    font: normal normal 24px sans-serif;
    font-weight: bold;
    color: #f36904;
    }