.logoNaranja {
    width: 75px;
    height: 75px;
    align-items: flex-end;
  }

.titulo {
    color: #f36904;
    position: absolute;
    transform: translate(0%,50%);
}

.iconored {
    color: #ee7222;
    vertical-align: middle;
}

i {
  color: #ee7222;
}
.colorete {
    color: #f36904;
}
