<div class="contenedor">
  <!-- Rectangulo de Imagen Principal Superior -->
  <div Style="background-image:url('https://i.ibb.co/tYz8M1M/barrio1.png')" class="imagen">
    <div #ini class="rectangulo">
    </div>
  </div>
  <!-- Fin Rectangulo de Imagen Principal Superior -->

  <!-- Menu, Logo, Barra de Busqueda -->
  <div class="superficial">
    <!-- Logo Meta -->
    <div class="row contenedorlogo">
      <div class="col align-self-start">
      </div>
      <div class="col d-flex justify-content-center">
        <img class="logoblanco" src="/assets/logos/logos-06.png" alt="">
      </div>
      <div class="col align-self-end">
      </div>
    </div>

    <div class="row contenedorsubtit">
      <div class="col align-self-start">
      </div>
      <div class="col d-flex align-items-center justify-content-center">
        <span #busca id='loque' class="slogan">Lo que quieras</span><span class="txtcerca ml-2"> CERCA</span>
      </div>
      <div class="col align-self-end">
      </div>
    </div>
    <!-- OVALO Nuevo diseño -->
    <div class="mitadovalo">
    </div>
  </div>

  <!-- Contenido Principal de la Pagina -->
  <div class="fondocontenido offset-sm-1 col-sm-10 ">
    <div class="align-items-center justify-content-center">
      <img class="logoNaranja" src="/assets/logos/logos-05.png" alt="">
    </div>
    <div class="subtitulos">
      Políticas de Privacidad Meta!
    </div>
    <div class="ParrafoMeta">
      Todos los datos e información personal del Cliente proporcionados a la Empresa en nuestro Sitio Web a través de la forma de Contacto y/o la Forma de Solicitud de Cotización serán absolutamente confidenciales.
      Todos los datos e información personal del Cliente solicitada por la Empresa para la activación, implementación, configuración de cuentas y/o desarrollo general de los proyectos serán absolutamente confidenciales.
      Para todos los casos y a menos de que el mismo Cliente lo autorice por escrito, o que la Autoridad Jurídica Local, Estatal o Federal lo solicite para esclarecer algún proceso legal en contra del Cliente, la Empresa se encuentra obligada a no revelar dichos datos a terceros, ni utilizarlos para ningún fin comercial que sea distinto de atender las necesidades del Cliente o informarle acerca de los Servicios y/o Promociones de la Empresa.
      La Empresa no vende, renta o distribuye ningún contenido, información personal o Base de Datos del Cliente.
      Como parte de una estrategia dirigida a fomentar la comunicación directa con el Cliente, la Empresa cuenta con la capacidad de realizar y enviar Boletines Electrónicos por correo electrónico conteniendo información relevante sobre sus Servicios, tips para potenciar su efectividad y/o promociones de la Empresa. La periodicidad de dicho envío será de dos veces por mes y el Cliente se reserva el derecho de suscribirte a nuestra de Base de Datos así como también de cancelar su suscripción en cualquier momento que lo desee por medio de una liga presente al final de cada boletín o enviando un correo directo a hola@gruposendpal.com.mx
      La Empresa no vende, renta o distribuye los datos de contacto de su Base de Datos del Boletín Electrónico.
      En caso de que el Cliente maneje una Base de Datos de contactos a los que les envíe Boletines Electrónicos a través del Servicio de e-Mail Marketing, quedará sujeto a los lineamientos Jurídicos presentes o futuros de privacidad de datos de sus usuarios, así como a las Políticas de Servicio de la Empresa.
      La Empresa quedará absuelta de toda responsabilidad en caso de que el Cliente sea sancionado por la Autoridad pertinente a causa del uso de Bases de Datos de contactos que no sean de su propiedad, o que venda, rente o distribuya los datos e información personal de sus usuarios.
      Al aceptar el presente documento, el Cliente garantiza que los Datos personales facilitados a la Empresa son verdaderos y por tanto se hace responsable de informar a la Empresa de cualquier modificación en los mismos.
      La Empresa se reserva el derecho de realizar modificaciones o actualizaciones al presente aviso de privacidad en cualquier momento, para la atención de novedades legislativas o jurisprudenciales, políticas internas, nuevos requerimientos para la prestación u ofrecimiento de los Servicios.
    </div> <br>
    <div class="subtitulos">
      Seguridad
    </div>
    <div class="ParrafoMeta">
      Para garantizar la seguridad de la información del Cliente, la Empresa hace uso solamente de infraestructura y software provenientes de proveedores certificados para el manejo de datos. Adicionalmente protege con contraseñas y encriptaciones la información, y si el Cliente así lo desea, se puede aumentar el nivel de seguridad con la contratación por separado de Certificados de Seguridad (SSL).
      Es responsabilidad absoluta del Cliente hacer buen uso de las contraseñas proporcionadas por la Empresa, mantener su confidencialidad, y de responder por cualquier actividad que se realice a través de su cuenta protegida. Así mismo, el Cliente se compromete a asegurarse de que las sesiones realizadas sean debidamente cerradas y de informar de inmediato a la Empresa de cualquier falla o filtración en la seguridad de los Servicios.
      La Empresa queda absuelta de responsabilidades ante cualquier pérdida o alteración de los contenidos o datos personales del Cliente en caso de que no se cumplan los lineamientos aquí especificados.
    </div>



  </div>

</div>

<app-footer-visitantes></app-footer-visitantes>

