<div class="contenedor">
  <!-- Rectangulo de Imagen Principal Superior -->
  <div Style="background-image:url(/assets/barrio1920t-min.png)" class="imagen">
    <div #ini class="rectangulo">
    </div>
  </div>
  <!-- Fin Rectangulo de Imagen Principal Superior -->

  <!-- Menu, Logo, Barra de Busqueda -->
  <div class="superficial">
    <!-- Logo Meta -->
    <div class="row contenedorlogo">
      <div class="col align-self-start">
      </div>
      <div class="col d-flex justify-content-center">
        <img class="logoblanco" src="/assets/logos/logos-06.png" alt="">
      </div>
      <div class="col align-self-end">
      </div>
    </div>

    <div class="row contenedorsubtit">
      <div class="col align-self-start">
      </div>
      <div class="col d-flex align-items-center justify-content-center">
        <span #busca id='loque' class="slogan">Lo que quieras</span><span class="txtcerca ml-2"> CERCA</span>
      </div>
      <div class="col align-self-end">
      </div>
    </div>
    <!-- OVALO Nuevo diseño -->
    <div class="mitadovalo">
    </div>
  </div>

  <!-- Contenido Principal de la Pagina -->
  <div class="fondocontenido offset-sm-1 col-sm-10 ">
    <div class="align-items-center justify-content-center">
      <img class="logoNaranja" src="/assets/logos/logos-05.png" alt="">
    </div>
    <div class="subtitulos">
      Políticas de Servicio META!
    </div>
    <div class="ParrafoMeta">
      En las siguientes líneas, se describen a detalle los lineamientos bajo los cuales
      se regirán todos nuestros servicios contratados (en adelante “Servicios”), así
      como todos los derechos y obligaciones en que incurren tanto Meta! (en adelante
      la “Empresa”) como el cliente (en adelante el “Cliente”).
    </div> <br>

    <div class="subtitulos">
      Aceptación de Políticas
    </div>
    <div class="ParrafoMeta">
      Al momento de realizar la adquisición de los Servicios, el Cliente acepta plenamente que ha leído en su totalidad
      nuestras Políticas de Servicio, y se encuentra absolutamente de acuerdo con cada uno de los puntos, reglas,
      modificaciones y detalles presentes y futuros contemplados en ellas, así como también de cualquier condición
      especial
      o particular que pudiese tener alguno de los Servicios.
      Una vez adquiridos los Servicios, argumentar el desconocimiento de estas Políticas no exime al Cliente de las
      responsabilidades, obligaciones y derechos que este documento le imputa.
    </div> <br>

    <div class="subtitulos">
      Características de los Servicios otorgados
    </div>
    <div class="ParrafoMeta">
      La Empresa ofrece Servicios enfocados en el desarrollo de una plataforma digital diseñada para centralizar todos
      los
      productos y servicios de la zona en donde se encuentren el local y los clientes. Además brinda una oportunidad de
      incrementar el alcance de los productos y servicios del cliente mediante publicidad geolocalizada.
      A excepción de especificarse lo contrario en su respectiva Cotización (en adelante, “Propuesta de Servicios”) los
      Servicios se manejan exclusivamente en Web de la Empresa deslindando a la misma de su responsabilidad por
      mantenimiento y/o soporte.
      A menos que se especifique lo contrario en la Propuesta de Servicios, ninguno de los Servicios se ofrece en un
      esquema
      de licencia, por lo tanto, el Cliente no tendrá propiedad alguna sobre las plataformas o software utilizados para
      implementar o desarrollar el proyecto.
    </div> <br>

    <div class="subtitulos">
      Requisitos para hacer uso de los Servicios
    </div>
    <div class="ParrafoMeta">
      A excepción de especificarse lo contrario en su respectiva Propuesta de Servicios, para hacer uso de todos
      nuestros
      Servicios, será necesario que el Cliente tenga acceso a Internet (World Wide Web).
      La Empresa queda absuelta de cualquier responsabilidad en caso de que exista un retraso en la entrega/liberación o
      mal
      funcionamiento de cualquiera de los Servicios en caso de que el Cliente no cuente con Internet o su proveedor de
      Internet falle.
      Es requisito haber realizado el pago de los anticipos y finiquitos correspondientes tal y como se indique en la
      Propuesta de Servicios para que la Empresa los proporcione al Cliente.
      Una vez realizada la contratación de alguno de nuestros Servicios, es responsabilidad del Cliente entregar a la
      Empresa toda la información necesaria para implementar y desarrollar su proyecto.
      En caso de no contar con dicha información, la Empresa podrá proveer de alguno de estos Servicios elaborando una
      cotización por separado.
      En caso de que durante el proceso de implementación se requiera la anexión de nueva información, y/o cualquier
      elemento que no haya sido cotizado, éste generará un cargo extra, el cual será notificado al cliente en su momento
      para su aprobación o descarte.
      Es obligación del Cliente que todos los textos, ligas, videos, música, software, imágenes, Base de Datos y/o
      cualquier
      otro tipo de información presente y futura, que sea proporcionada a la Empresa (o que se requerida por ella) sea
      verdadera, lícita, propia, correcta y completa, ya que de lo contrario, la Empresa tendrá el derecho de suspender
      o
      cancelar los Servicios sin posibilidad de devolución de dinero.
    </div> <br>


    <div class="subtitulos">
      Asignación de un responsable del Proyecto.
    </div>
    <div class="ParrafoMeta">
      Antes de iniciar los procesos de activación e implementación, es estrictamente necesario que el Cliente asigne a
      un
      responsable con la potestad absoluta para tomar decisiones sobre el proyecto. Así mismo, deberá notificar a la
      Empresa
      quién será dicha persona y proporcionar sus datos de contacto.
      La Empresa establecerá comunicación con el responsable y éste quedará registrado como el único que podrá autorizar
      cambios al proyecto, asignación de permisos, liberación/entrega de proyecto y cancelación de los Servicios.
      Metodología de Trabajo
      Ya sea presencial o virtualmente, se realizará el contacto con el Cliente para conocer sus necesidades y objetivos
      con
      el fin de realizar un levantamiento de requerimientos con el cual la Empresa realizará una Propuesta de Servicios
      la
      cual se presentará al Cliente para su consideración y aceptación.
      Una vez aceptadas las condiciones presentadas en la Propuesta de Servicios, y haber pagado el anticipo
      correspondiente
      se tomará este día como fecha de arranque y se dará paso al proceso de implementación del proyecto, fases de
      revisión
      y ajustes, captura de información, capacitación y posteriormente se realizará la entrega/liberación del mismo.
      Todos los Servicios contemplan soporte técnico especializado por el periodo de tiempo que se especifique en la
      Propuesta de Servicios a partir de la fecha de arranque.
      Una vez terminado dicho periodo, y en caso de aplicar para los Servicios adquiridos, el Cliente deberá pagar el
      costo
      por Mantenimiento con el propósito de extender el soporte por otro periodo adicional determinado.
      La Empresa utilizará todos los recursos a su disposición para satisfacer los requisitos del Cliente, sin embargo,
      no
      se garantiza que los Servicios se ajustarán por completo a dichos requisitos ni que serán ininterrumpidos o libres
      de
      error.
    </div> <br>

    <div class="subtitulos">
      La Propuesta de Servicios
    </div>
    <div class="ParrafoMeta">
      En este documento se ofrecerá la solución que más se adecúe a los requerimientos revisados con el Cliente, y
      contempla
      a detalle todas las características, paquetes, herramientas, plataformas, metodologías e infraestructuras
      necesarias
      para satisfacerlos. Así mismo, se incluirán los alcances, precios correspondientes, periodo de cobertura y las
      condiciones especiales o particulares que pudiesen tener alguno de los Servicios.
      Para casos en los que el Cliente solicite una cotización de varios de nuestros servicios a la vez o un descuento
      sobre
      algún Servicio, se anexará un documento adicional llamado Carátula de Propuesta de Servicios (CPS), en el cual se
      presentará a manera de resumen los requerimientos del proyecto, los servicios o paquetes a considerar, el costo
      final
      de la adquisición de dichos servicios y las condiciones especiales o particulares que se pudiesen tener. Es
      importante
      considerar que, sin excepción, todos los servicios que se coticen en la Carátula de Propuesta de Servicios (CPS),
      harán referencia y se encontrarán respaldados por su correspondiente documento de Propuesta de Servicios.
      Nuestros precios están sujetos a cambio sin previo aviso. En el caso de que el cliente no haya contratado los
      Servicios y los precios hayan sido modificados, se le hará una nueva cotización con los nuevos precios.
      Para efectos del contrato de Servicios, todas las Notas presentes y futuras incluidas en la Propuesta de Servicio
      constituyen un anexo tácito e inseparable a estas Políticas de Servicio. Por tanto, es requisito que el Cliente se
      encuentre absolutamente de acuerdo con todas las Notas incluidas en la Propuesta de Servicios, así como en las
      presentes Políticas antes de adquirir cualquiera de nuestros Servicios.
    </div> <br>
    <div class="subtitulos">
      Formas de contratación, pago y reembolso.
    </div>
    <div class="ParrafoMeta">
      Los Servicios podrán ser contratados de manera presencial o por teléfono a través del contacto con uno de nuestros
      consultores de ventas o por medio de nuestro Sitio Web a través de tarjeta de crédito, tarjeta de débito,
      transferencia bancaria y/o cualquier otra opción que los proveedores de pago (PayPal, PayU) permitan y con moneda
      de
      cuño corriente en el territorio mexicano.
      Para el caso de las contrataciones por medio de nuestro Sitio Web, la Empresa no es responsable de manera alguna
      respecto del proceso de pago, por lo tanto, dicho proceso, la aceptación de tarjetas o bancos, la autorización de
      la
      transacción y/o cobro de comisiones se encontrarán supeditadas a las políticas de cada proveedor de pago (PayPal,
      PayU).
      Una vez registrado el pago respectivo, la Empresa se obliga a enviar la factura fiscal correspondiente con todos
      los
      requisitos de la ley aplicable conforme a los datos de facturación y a la dirección de correo electrónico que el
      Cliente haya proporcionado para tal efecto.
      En cualquier momento la Empresa tendrá el derecho de modificar el costo de los Servicios, así como sus formas,
      procedimientos y/o políticas de pago sin previo aviso, cuya aplicación será efectiva a partir del momento en que
      sean
      publicados en el Sitio Web. El importe que el Cliente deberá cubrir será aquel que se encuentre vigente al momento
      en
      que realice la contratación correspondiente.
      Vigencia.
      La vigencia de cada uno se especificará en la Propuesta de Servicios o en la Carátula de Propuesta de Servicios
      correspondiente.
    </div> <br>

    <div class="subtitulos">
      Promociones y Descuentos.
    </div>
    <div class="ParrafoMeta">
      Todas las promociones ofrecidas al Cliente podrán ser modificadas o sustituidas en el momento en que la Empresa lo
      considere necesario. En caso de que se le aplique al cliente una promoción por escrito en su Propuesta de
      Servicios,
      ésta estará vigente durante un periodo máximo de un mes a partir de su fecha de realización.
      En el caso de que al Cliente se le otorgue un descuento en el precio de venta indicado en la Propuesta de
      Servicios
      o
      en la Carátula de Propuesta de Servicios por motivos comerciales, automáticamente su tiempo de entrega se
      aumentará
      en
      10 días hábiles independientemente del porcentaje de descuento aplicado. Tiempos de Entrega del Proyecto
      A menos que se indique lo contrario en la Propuesta de Servicios, el tiempo de entrega puede variar dependiendo
      del
      Paquete seleccionado por el cliente, así como la rapidez con que haga entrega de la información requerida para
      activar
      o implementar las Soluciones.
      En caso de que exista una sobresaturación de proyectos en producción, el tiempo de entrega se puede extender. La
      Empresa está obligada a informar al cliente sobre tal situación antes de la contratación, y a hacer una nueva
      estimación del tiempo de entrega del proyecto.
      El Cliente debe determinar si el tiempo de entrega estimado no afecta sus plazos o planes y decidirá si seguir
      adelante o no con el proyecto. En el caso de que al Cliente se le otorgue un descuento en el precio de venta
      indicado
      en la Propuesta de Servicios o en la Carátula de Propuesta de Servicios por motivos comerciales, automáticamente
      su
      tiempo de entrega se aumentará en 10 días hábiles independientemente del porcentaje de descuento aplicado. Plugins
      e
      integración con Terceros
      Debido a la naturaleza de los Servicios ofrecidos, la Empresa podrá hacer uso de lenguajes, programación y/o
      software
      (en adelante “Plugins”) desarrollados por ella misma o por terceros para la satisfacción de las necesidades y/o
      requerimientos específicos del proyecto.
      Por lo general, a menos que se indique lo contrario en la Propuesta de Servicios correspondiente, los Plugins
      generan
      un costo de pago único. En caso de que conllevarán algún costo mensual o anual, se le notificará al Cliente antes
      de
      contratarlos.
      A menos que se indique lo contrario en la Propuesta de Servicios, en el caso de que se realice alguna
      implementación,
      integración con algún programa, software, API o código que no pertenezca a la Empresa, el soporte técnico y las
      políticas de uso de dichos sistemas quedarán sujetos a la disponibilidad, lineamientos, costos y alcances que esos
      proveedores terceros indiquen.
      Lo anterior aplica para todo tipo de terceros, desde desarrolladores de software, diseño e intermediarios
      financieros
      o bancarios.
    </div> <br>
  </div>

</div>

<app-footer-visitantes></app-footer-visitantes>
