
.contenedor {
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-top: 50px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, auto);
  grid-template-areas: "titulo imagen"
                        "descripcion imagen"
                        "ubicacion imagen"
                        "ubicacion contacto"
                        "ubicacion contacto"
                        "referencias contacto";
  align-items:flex-start;
}

.contenedor .titulo {
  grid-area: titulo;
}

.contenedor .imagen {
  grid-area: imagen;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor .descripcion {
  grid-area: descripcion;
  margin-top: 15pt;
}

.contenedor .ubicacion {
  grid-area: ubicacion;
  /* padding-right: 15px;
  padding-left: 15px; */
  margin-top: 10pt;
}

.contenedor .contacto {
  grid-area: contacto;
}

.contenedor .referencias {
  grid-area: referencias;
  height: 400px;
  margin-top: 5pt;
  margin-bottom: 50px;
  overflow-x: hidden;
  overflow-y: auto;
}

.principal {
  margin-top: 10px;
  padding-top: 10px;
}

agm-map {
  padding: 20px;
  width: 100%;
  height: 250px;
}
.mapa {
  border-radius: 40px;
}
.nombrecomercio {
  text-align: center;
  /* font: normal normal bold 36px Wavehaus;  */
  font: normal normal bold 36px sans-serif;
  letter-spacing: 0px;
  color: #3c3c3c;
  opacity: 1;
}
.subtitulocomercio {
  text-align: center;
  font: normal normal normal 22px/26px Wavehaus;
  letter-spacing: 0px;
  color: #3c3c3c;
  opacity: 1;
}
.distanciacomercio {
  text-align: center;
  font: normal normal 600 22px/26px Wavehaus;
  letter-spacing: 0px;
  color: #3c3c3c;
  opacity: 1;
}

.cuadrocomentarios {
  height: 120px;
  margin-bottom: 30px;
  /* border-radius: 43px; */
  opacity: 1;
  border-bottom: 1px solid #3c3c3c;
}

.comentario {
  height: 50px;
  overflow-y: auto;
}
.cuadromapa {
  position: relative;
  padding: 10px 20px 20px 20px;
  border-radius: 43px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
}

.rubro {
  font: normal normal 20px;
  color: #3c3c3c;
}
.subtitulo {
  text-align: left;
  font: normal normal bold 24px sans-serif;
  letter-spacing: 0px;
  color: #3c3c3c;
  opacity: 1;
}

.descripcion {
  text-align: justify;
  font: normal normal normal 18px century;
  letter-spacing: 0px;
  color: #3c3c3c;
  opacity: 1;
}

.recuadroimagen {
  max-width: 100%
}
.ngx-gallery { 
  display: grid; 
  margin-bottom: 20px;
}

.dani .dani-active {
  border: green;
}

i {
  color: #ee7222;
}

.p{
  width: 100%;
  overflow-wrap: break-word;
}

.info {
  font: normal normal normal 21px/27px Wavehaus;
  letter-spacing: 0px;
  color: #3c3c3c;
  opacity: 1;
}

.botoncomentar {
  font-size: 12px;
}

.nick {
  font: normal normal bold 14px century;
  color: #ee7222;
}
.estrellas {
  float: right;
}

.textweb {
  color: black;
}
/*contado de caracteres*/
.textarea-wrapper {
  position:relative;
}

/* estrellas de puntuacion*/
.star {
  font-size: 1.5rem;
  color: #b0c4de;
}
.filled {
  color: #1e90ff;
}
.bad {
  color: #deb0b0;
}
.filled.bad {
  color: #ff1e1e;
}

.filled.reg {
  color: goldenrod;
}

@media (max-width: 768px){
  .contenedor {
    margin-top: 0px;
    gap: 2px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, auto);
    grid-template-areas: "imagen"
                          "titulo"
                          "descripcion"
                          "ubicacion"
                          "contacto"
                          "referencias"
  }

  .contenedor .titulo {
    margin-top: -20px;
  }

  .contenedor .descripcion {
    margin-top: 0pt;
  }
  .contenedor .ubicacion {
    margin-top: 15pt;
  }
  .contenedor .referencias {
    margin-top: 15pt;
  }

  .nombrecomercio {
    font: normal normal 800 24px Wavehaus;
  }

  .titulo {
    font: normal normal bold 20px Wavehaus;
  }

  .rubro {
    margin-top: -10px;
    font-size: 13px;
    color: #3c3c3c;
  }
  .subtitulo {
    font: normal normal bold 14px sans-serif;
    color: #3c3c3c;
  }

  .recuadroimagen {
    width: 100%;
    height: 200px;
  }

  .recuadrocomentarios {
    width: 100%;
    height: 170px;
  }
  .info {
    font: normal normal normal 16px Wavehaus;
  }
}
