<div class="contenedor offset-sm-1 col-sm-10">

  <div class="titulo">
    <div class="row d-flex justify-content-center">
      <h1>
        <span class="nombrecomercio">
          {{comercio?.nombre}}
        </span>
      </h1>
    </div>
    <div class="row d-flex justify-content-center mt-1">
      <span class="rubro">
        {{comercio?.rubro_string}}
      </span>
    </div>
  </div>

  <!-- Seccion Imagen -->
  <div class="imagen" *ngIf="comercio?.show_economico">
    <div >
      <ngb-carousel #myCarousel [showNavigationArrows]="imageUrls.length > 0"
        [showNavigationIndicators]="true" interval="5000">
        <!-- VISTA DE FOTOS -->
        <ng-template ngbSlide *ngFor="let url of comercio.fotos; let i = index" id="img{{i}}" >
          <div class="recuadroimagen">
            <img class="" [src]="url"/>
          </div>
        </ng-template>
        <!-- VISTA DEL VIDEO -->
        <ng-template ngbSlide id="img{{comercio.fotos.length}}">
          <div class="recuadroimagen">
            <iframe class="recuadroimagen" [src]="safeVideoUrl" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </ng-template>
      </ngb-carousel>
      <!-- Galeria de Miniaturas -->
      <div class="row justify-content-center mt-2">
        <div class="img-thumbnail mx-1" *ngFor="let foto of miniaturas; let i= index">
          <img [src]="foto" (click)="changeFoto(i)" style="max-width:100%; max-height:100%;">
        </div>
      </div>
    </div>
  </div>

  <!-- Seccion Descripción -->
  <div class="descripcion" *ngIf="comercio?.show_economico">
    <div class="row px-3 pt-2">
      <span class="subtitulo">
        ¿Que ofrecemos?
      </span>
    </div>
    <div class="row px-3 pt-2">
      <p>
        {{comercio?.descripcion}}
      </p>
    </div>
  </div>

  <!-- Sección Ubicación -->
  <div class="ubicacion">
    <div class="titulo mb-1">
      <span class="subtitulo">
        Ubicación
      </span> <br>
      <span class="descripcion">
        {{comercio?.direccion_string }}
      </span>
    </div>
    <div *ngIf="comercio?.latitud && comercio?.longitud">
      <a href="https://www.google.com/maps/search/?api=1&query={{lat}},{{lon}}">
        <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lon">
          <agm-marker [latitude]="lat" [longitude]="lon"></agm-marker>
        </agm-map>
      </a>
    </div>
  </div>

  <!-- Sección Info Contacto -->
  <div class="contacto">
    <div class="offset-md-2 col-md-10 mt-3">
      <div class="row mt-3">
        <p><i class="fas fa-map-marker-alt fa-2x ml-1"></i><span class="info ml-3">
          {{comercio?.direccion_string | titlecase }}</span></p> 
      </div>
      <div class="row mt-2">
        <i class="fab fa-chrome fa-2x"></i><span><a class="info ml-3"
            href="{{comercio?.web ? 'https://'+comercio.web : ''}}" (click)="sumarClick(3)"
            target="_blank">{{comercio?.web ? comercio.web :'Sin página web'}}</a></span>
      </div>
      <div class="row mt-3">
        <i class="fas fa-phone fa-2x"></i><span class="info ml-3">{{comercio?.telefono}} /
          {{comercio?.celular}}</span>
      </div>
      <div class="row mt-3">
        <i class="far fa-clock fa-2x"></i>
        <table class="ml-3" cellspacing="0" cellpadding="5">
          <tr *ngFor="let hor of comercio?.horarios; index as i">
            <td>{{(i!=0 && hor.dia != comercio?.horarios[i-1].dia) || i===0 ? hor.dia_nombre : ""}}</td>
            <td>{{hor.desde}} a {{hor.hasta}}</td>
          </tr>
        </table>
      </div>
      <div class="row mt-3">
        <!-- <div class="col-sm-12 col-md-3 px-0">
          <i class="fas fa-motorcycle fa-2x"></i><span class="info ml-3">{{comercio?.envio ? 'SI' : 'NO'}}</span>
        </div> -->
        <i class="fas fa-motorcycle fa-2x"></i><span class="info ml-3">{{comercio?.envio ? 'SI' : 'NO'}}</span>
      </div>
        <div *ngIf="comercio?.active_links;then activelinks else inactive">here is ignored</div>
        <div class="row mt-3" style="background-color: green;">
          <ng-template #activelinks>
          <span class="nick mr-2">Contactar Local:</span>
            <a *ngIf="!deviceService.isMobile() && comercio.facebook" href="{{comercio.facebook}}"
            (click)="comercio.facebook && sumarClick(1)" target="_blank"><i
              class="fab fa-facebook fa-2x mr-3"></i></a>
            <a *ngIf="deviceService.isMobile() && comercio.facebook" [href]="faceapp"
              (click)="comercio.facebook && sumarClick(1)" target="_blank"><i
                class="fab fa-facebook fa-2x mr-3"></i></a>
            <a *ngIf="comercio.instagram && comercio.instagram" href="https://www.instagram.com/{{comercio.instagram}}/"
              (click)="comercio.instagram && sumarClick(2)" target="_blank"><i
                class="fab fa-instagram fa-2x mr-3"></i></a>
            <a *ngIf="comercio.celular" [href]="safeURL" target="_blank" (click)="comercio.celular && sumarClick(4)">
              <i class="fab fa-whatsapp fa-2x"></i></a>
          </ng-template>
          <ng-template #inactive></ng-template>
        </div>
      </div>
   
  </div>

  <!-- Sección Referencias -->
  <div class="referencias" *ngIf="comercio?.show_estandar">
    <div class="row mb-2">
      <div class="col-6 col-md-8">
        <span class="subtitulo">
          Referencias de clientes
        </span>
      </div>
      <div class="col-6 col-md-4 d-flex justify-content-end">
        <button mat-raised-button class="botoncomentar" type="button" (click)="crearReferencia(modalref)"
          color="primary">Comentar
        </button>
      </div>
    </div>

    <div class="row px-4 pt-2">
      <ng-container *ngFor="let ref of referencias">
        <div class="col-12 cuadrocomentarios">
          <span class="nick">
            {{ref.usuario.name | titlecase}}
          </span>
          <p class="comentario">{{ref.cuerpo}}</p>
          <div class="estrellas">
            <ng-container *ngFor="let i of [].constructor(ref.puntaje)">
              <i class="fas fa-star"></i>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

</div>


<app-footer-visitantes></app-footer-visitantes>

<!-- Modal Ingreso de Referencias -->
<ng-template #modalref let-modal>
  <div class="container">
    <div>
      <mat-card class="tarjeta-info">
        <div class="card-body">
          <div class="modal-header modal-encabezado">
            <h5 class="modal-title titulo" id="modal-basic-title">
              <strong>Comentar</strong>
            </h5>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <form name="form" (ngSubmit)="f.form.valid && guardarReferencia()" #f="ngForm" novalidate>

              <div class="form-row">
                <mat-form-field class="col">
                  <textarea matInput type="text" placeholder="tu opinión" maxlength="240"
                    (ngModelChange)="contadorChar($event)" [(ngModel)]="referencia.cuerpo" name="cu" #cu="ngModel"
                    required>
                        </textarea>
                  <mat-error *ngIf="cu.invalid && cu.errors.required">Descripcion es obligatorio</mat-error>

                  <mat-error *ngIf="cu.invalid && cu.errors.maxlength">Descripcion NO debe superar los 100 caracteres
                  </mat-error>
                </mat-form-field>
                <span class="remaning">{{restan}}</span>
              </div>

              <div class="form-row">

                <ngb-rating [(rate)]="referencia.puntaje">
                  <ng-template let-fill="fill" let-index="index">
                    <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3"
                      [class.reg]="index > 2 && index < 8 ">&#9733;</span>
                  </ng-template>
                </ngb-rating>
                <hr>
                <pre>Valoración: <b>{{referencia.puntaje}}</b></pre>
              </div>

              <div class="form-row mt-3">
                <div class="col-12 text-right">
                  <button mat-raised-button type="submit" color="primary">
                    <mat-icon>save</mat-icon>Guardar
                  </button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</ng-template>
