
    <div class="contenedor offset-sm-1 col-sm-10">
        <div class="row principal">
          <!-- Columna Izquierda -->
            <div class="col columna">
                <div class="row d-flex justify-content-center">
                    <span class="nombrecomercio">
                        {{comercio.nombre}}
                    </span>
                </div>
                <div class="row d-flex justify-content-center mt-3">
                        <span class="subtitulocomercio mr-2">
                           {{comercio.rubro.descripcion}}
                        </span>
                        <span class="distanciacomercio">
                            a 1,2 km de distancia
                        </span>
                </div>
                <div class="row mt-5">
                    <div class="recuadroblanco">
                        <div class="row px-4 pt-2">
                            <span class="titulo">
                                ¿Que ofrecemos?
                            </span>
                        </div>
                        <div class="row px-4 pt-2">
                            <p class="descripcion">
                                {{comercio.descripcion}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="cuadromapa mt-3">
                  <div class="titulo mb-2">
                    Ubicación
                  </div>
                    <agm-map [latitude]= "lat" [zoom]= "zoom" [longitude]= "lon">
                      <agm-marker  [latitude]= "lat" [longitude]= "lon"></agm-marker>
                    </agm-map>
                </div>

                <div class="row mt-3">
                        <div class="recuadroblanco">
                            <div class="row px-4 pt-2">
                                <span class="titulo">
                                Referencias de nuestros clientes
                                </span>
                            </div>
                            <div class="row px-4 pt-2">
                                <p class="descripcion">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                                </p>
                            </div>
                        </div>
                    </div>

            </div>

            <!-- Columna derecha -->
            <div class="col-sm ">
                <div class="row">
                  <div class="col d-flex justify-content-center"></div>
                     <img class="recuadroimagen px-4" [attr.src]="[comercio.url_foto != null ? comercio.url_foto : 'assets/logos/defaultlogo.jpeg']" alt="">
                </div>

                <div class="in-flex offset-sm-2 col-sm-10 mt-3">
                    <div class="row mt-3">
                    <i class="fas fa-map-marker-alt fa-2x"></i><span class="info ml-3">{{comercio.domicilio}}</span>
                    </div>
                    <div class="row mt-3">
                    <i class="fab fa-chrome fa-2x"></i><span class="info ml-3">{{comercio.web}}</span>
                    </div>
                    <div class="row mt-3">
                    <i class="fas fa-phone fa-2x"></i><span class="info ml-3">{{comercio.telefono}} / {{comercio.celular}}</span>
                    </div>
                    <div class="row mt-3">
                        <i class="far fa-clock fa-2x"></i>
                        <table class="ml-3" cellspacing="0" cellpadding="5">
                            <tr *ngFor="let hor of comercio.horarios">
                               <td>{{hor.dia_nombre}}</td>
                              <td>{{hor.desde}} a {{hor.hasta}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="row mt-3">
                        <div class="col px-0">
                        <i class="fas fa-motorcycle fa-2x"></i><span class="info ml-3">{{comercio.envio ? 'SI' : 'NO'}}</span>
                        </div>
                        <div class="col d-flex justify-content-end">
                                <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook fa-2x mr-2"></i></a>
                                <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-2x mr-2"></i></a>
                                <a href="https://web.whatsapp.com/" target="_blank"><i class="fab fa-whatsapp fa-2x"></i></a>
                        </div>
                    </div>


                </div>
            </div> <!-- Columna derecha -->

        </div>
    </div>


    <app-footer-visitantes></app-footer-visitantes>
