<div class="contenedor offset-sm-1 col-sm-10">

  <div class="titulo">
    <div class="row d-flex justify-content-center">
      <h1>
        <span class="nombrecomercio">
          {{comercio?.nombre}}
        </span>
      </h1>
    </div>
    <div class="row d-flex justify-content-center mt-1">
      <span class="subtitulocomercio mr-2">
        {{comercio?.rubro?.descripcion}}
      </span>

    </div>
  </div>

<!-- Seccion Imagen -->
  <div class="imagen">
    <div class="row">
      <!-- <div class="col d-flex justify-content-center"></div> -->
      <img class="recuadroimagen"
        [attr.src]="[comercio?.url_foto != null ? comercio.url_foto : 'https://i.ibb.co/6vkssW8/defaultlogo.jpg']"
        alt="">

    </div>
  </div>

  <div class="">
    <div class="row px-4 pt-2">
      <span class="subtitulo">
        ¿Que ofrecemos?
      </span>
    </div>
    <div class="row px-4 pt-2">
      <p class="descripcion">
        {{comercio?.descripcion}}
      </p>
    </div>
  </div>

  <!-- Sección Ubicación -->
  <div class="ubicacion">
    <div class="titulo mb-2">
      <span class="subtitulo">
        Ubicación
      </span> <br>
      <span class="descripcion">
        {{comercio?.domicilio}} - {{comercio?.localidad?.nombre | titlecase }}
       </span>
    </div>
    <div *ngIf="comercio.latitud && comercio.longitud">
      <a href="https://www.google.com/maps/search/?api=1&query={{lat}},{{lon}}">
      <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lon">
        <agm-marker [latitude]="lat" [longitude]="lon"></agm-marker>
      </agm-map>
    </a>
    </div>
  </div>

  <div class="contacto">
    <div class="in-flex offset-sm-2 col-sm-10 mt-3">
      <div class="row mt-3">
        <i class="fas fa-map-marker-alt fa-2x"></i><span class="info ml-3">{{comercio?.domicilio}}</span>
      </div>
      <div class="row mt-3">
        <i class="fab fa-chrome fa-2x"></i><span class="info ml-3"><a class="textweb"
            href="{{comercio?.web ? 'https://'+comercio.web : '#'}}" target="_blank">{{comercio?.web ? comercio.web :
            'sin pagina web'}}</a></span>
      </div>
      <div class="row mt-3">
        <i class="fas fa-phone fa-2x"></i><span class="info ml-3">{{comercio?.telefono}} /
          {{comercio?.celular}}</span>
      </div>
      <div class="row mt-3">
        <i class="far fa-clock fa-2x"></i>
        <table class="ml-3" cellspacing="0" cellpadding="5">
          <tr *ngFor="let hor of comercio.horarios">
            <td>{{hor.dia_nombre}}</td>
            <td>{{hor.desde}} a {{hor.hasta}}</td>
          </tr>
        </table>

      </div>
      <div class="row mt-3">
        <div class="col px-0">
          <i class="fas fa-motorcycle fa-2x"></i><span class="info ml-3">{{comercio.envio ? 'SI' : 'NO'}}</span>
        </div>
        <div class="col d-flex justify-content-end">

          <span class="nick mr-2">Contactar Local:</span>
          <a *ngIf="comercio.facebook" href="{{comercio.facebook}}"
            target="_blank"><i class="fab fa-facebook fa-2x mr-2"></i></a>
        <!--     <a href="{{comercio.facebook}}"
            target="_blank"><i class="fab fa-facebook fa-2x mr-2"></i></a> -->
       <!--     <a href="fb://100001040626741"
            target="_blank"><i class="fab fa-facebook fa-2x mr-2"></i></a> -->
          <a *ngIf="comercio.instagram" href="{{comercio.instagram}}"
            target="_blank"><i class="fab fa-instagram fa-2x mr-2"></i></a>
          <!-- <a *ngIf="!deviceService.isMobile()" href="https://web.whatsapp.com/" target="_blank"><i class="fab fa-whatsapp fa-2x"></i></a> -->
          <a *ngIf="comercio.celular" [href]="safeURL" target="_blank"><i class="fab fa-whatsapp fa-2x"></i></a>

        </div>
      </div>
    </div>
  </div>

  <div class="referencias">

    <div class="row px-4 pt-2 mb-2">
      <div class="col-6 col-md-8">
        <span class="subtitulo">
          Referencias de clientes
        </span>
      </div>
      <div class="col-6 col-md-4 d-flex justify-content-end">
        <button mat-raised-button class="botoncomentar" type="button" (click)="crearReferencia(modalref)" color="primary">Comentar
        </button>
      </div>
    </div>

    <div class="row px-4 pt-2">
      <ng-container *ngFor="let ref of referencias">
        <div class="col-12 cuadrocomentarios">
          <span class="nick">
            {{ref.usuario.name | titlecase}}
          </span>
          <p class="comentario">{{ref.cuerpo}}</p>
          <div class="estrellas">
            <ng-container *ngFor="let i of [].constructor(ref.puntaje)">
              <i class="fas fa-star"></i>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>

  </div>

</div>


<app-footer-visitantes></app-footer-visitantes>

<ng-template #modalref let-modal>
  <div class="container">
    <div>
      <mat-card class="tarjeta-info">
        <div class="card-body">
          <div class="modal-header modal-encabezado">
            <h5 class="modal-title titulo" id="modal-basic-title">
              <strong>Comentar</strong>
            </h5>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <form name="form" (ngSubmit)="f.form.valid && guardarReferencia()" #f="ngForm" novalidate>

              <div class="form-row">

                <mat-form-field class="col">
                  <textarea matInput type="text" placeholder="tu opinión" maxlength="240"
                    (ngModelChange)="contadorChar($event)" [(ngModel)]="referencia.cuerpo" name="cu" #cu="ngModel"
                    required>
                        </textarea>
                  <mat-error *ngIf="cu.invalid && cu.errors.required">Descripcion es obligatorio</mat-error>

                  <mat-error *ngIf="cu.invalid && cu.errors.maxlength">Descripcion NO debe superar los 100 caracteres
                  </mat-error>
                </mat-form-field>
                <span class="remaning">{{restan}}</span>
              </div>

              <div class="form-row">

                <ngb-rating [(rate)]="referencia.puntaje">
                  <ng-template let-fill="fill" let-index="index">
                    <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3"
                      [class.reg]="index > 2 && index < 8 ">&#9733;</span>
                  </ng-template>
                </ngb-rating>
                <hr>
                <pre>Valoración: <b>{{referencia.puntaje}}</b></pre>
              </div>


              <div class="form-row mt-3">

                <div class="col-12 text-right">
                  <button mat-raised-button type="submit" color="primary">
                    <mat-icon>save</mat-icon>Guardar
                  </button>
                </div>
              </div>

            </form>
          </div>

        </div>
      </mat-card>
    </div>
  </div>


</ng-template>
