.background{
line-height: 0%;
position: relative;
}
.rectangulo {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 45px;
  /* background: #ee7222 0% 0% no-repeat padding-box; */
  opacity: 0.69;
  z-index: -999;
}

/*hace el background transparente cuando esta en inicio*/
.fondotransparente{
  background-color: transparent;
}
/* logo de meta en navbar*/
.logo{
  width:50px;
  height:40px;
  margin-right: 300 px;
  margin-block-start: 0%;
}
/* Contenedor Menu Barra */
.cont {
  position:absolute;
  width: 100%;
  right: 0;
  display: none;
}
/* Contenedor Menu Boton Cel */
.contcel {
  position: fixed;
  top: 25px;
  width: 100%;
  z-index: 9999;
  opacity: 1;
}
.menu-boton {
  text-align: center;
  /* font-family: 'Wavehause2', sans-serif; */
  font: normal normal 600 19px/22px Wavehaus;
  letter-spacing: 0px;
  color: #ffffff;
  /* margin-inline-start: 40px; */
  writing-mode: horizontal-tb;
  z-index: 999;
  /* direction: rtl; */
}

.menudesplegado {
  margin-top: -25px;
  background: #ee7222;
  opacity: 0.9;
}

.dropdown-item {
  display: block;
  width: 100%;
  clear: both;
  text-align: inherit;
  white-space: normal;
  background-color: transparent;
  border: 3;
}

/* CSS PARA DESKTOP */
@media (min-width: 601px) {


  .menub {
    position: fixed;
    width: 100%;
    top: 0px;
    right: 0px;
    height: 45px;
    z-index: 9999;
    font: normal normal 600 19px/22px Century;
    letter-spacing: 0px;
    text-align: right;
    color: #ffffff;
    opacity: 0.9;
  }

  /* logo de meta en navbar*/
.logo{
  width:55px;
  height:40px;
  margin-top: 3px;
  margin-left: 5px;
  margin-right: 300px;
}

  /* Contenedor Menu Boton Cel */
  .contcel {
    position: fixed;
    top: 25px;
    width: 100%;
    right: 0;
    display: none;
  }

  /* Contenedor Menu Barra */
  .cont {
    position: absolute;
    width: 100%;
    right: 0;
    display: block;

  }

/*menu cambia de color al superar los 365px*/
.menunar {
  background: #ee7222;
  background-color: #ee7222;
  opacity: 0.9;
  height: 45px;
  width: 100%;
}
.btn-outline-light{
  margin-top: 3px;
  padding: 0.1em 0.5em;
  color: white;
}
.btn-outline-light:hover, .btn-outline-light:focus, .btn-outline-light:active {
  color: #ee7222;
  background-color: #fff;
  border-color: #fff; /*set the color you want here*/
  padding: 0.3em 0.5em;
  text-decoration: none;
}

}
