.icono {
    color: #f36904;
    margin-left: 15px;
    margin-right: 10px;
  }
  .titulo {
    font: normal normal 24px sans-serif;
    font-weight: bold;
    color: #f36904;
  }

  .btn-estado {
    color: white;
    /* max-block-size: fit-content; */
    margin-top: 1%;
    margin-bottom: 1%;
    width: 95%;
    height: 20%;
    display: flex;
    justify-content: center;
    border-radius: 2%;
    border: none;
    font-weight: bold;
    letter-spacing: 1.5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    }

.boton-pendiente {
  background: #e9ae40;
}
.boton-aprobado {
  background: rgb(73, 194, 78);
}
.boton-vencido {
  /* background:#E040FB; */
  background:violet;
}
.boton-rechazado {
  /* background: #B00020; */
  background: red;
}

.mat-column-nombre {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 18% !important;
}
.mat-column-usuario {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 16% !important;
}
.mat-column-tiposervicio {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 12% !important;
}
.mat-column-validez {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  display: flex;
  justify-content: center;
}

.mat-column-formapago {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
}

.mat-column-estado {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 11% !important;
  display: flex;
  justify-content: center;
}
.mat-column-acciones {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 15% !important;
    display: flex;
    justify-content: center;
  }