<div class="cuerpo container">
    <div class="row">
        <div class="col-6">
          <h6 class="titulo">GESTION DE PLANES</h6>
        </div>
     
      </div>
   
    <div class="mt-3">
       
            <!-- Input Agregado para permitir la Busqueda -->
            <mat-form-field>
              <input matInput (keyup)="filtrarComercios($event.target.value)" placeholder="Buscar comercio...">
            </mat-form-field>
  
   
            <mat-table #tablacomercios [dataSource]="lstComercios" class="mat-elevation-z8">
              <!-- Nombre -->
              <ng-container matColumnDef="nombre">
                <mat-header-cell *matHeaderCellDef>Nombre Comercio</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span class="mobile-label">Nombre:</span>{{element.nombre}}
                </mat-cell>
              </ng-container>

              <!-- Email -->
              <ng-container matColumnDef="usuario">
                <mat-header-cell *matHeaderCellDef>Usuario</mat-header-cell>
                <mat-cell *matCellDef="let element" >
                  <span class="mobile-label">Usuario:</span> {{element.usuario.nombre}}
                </mat-cell>
              </ng-container>
              <!-- tipo servicio -->
              <ng-container matColumnDef="tiposervicio">
                <mat-header-cell *matHeaderCellDef>Servicio</mat-header-cell>
                <mat-cell *matCellDef="let element" >
                  <span class="mobile-label">Servicio:</span> {{element.getTipoServicio()}}
                </mat-cell>
              </ng-container>
            <!-- validez -->
              <ng-container matColumnDef="validez">
                <mat-header-cell *matHeaderCellDef>Validez</mat-header-cell>
                <mat-cell *matCellDef="let element" >
                  <span class="mobile-label">Validez:</span> Desde: {{element.desde}}<br>
                                                            Hasta: {{element.hasta}}
                </mat-cell>
              </ng-container>

              <!-- Acciones Column -->
              <ng-container matColumnDef="acciones">
                <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span class="mobile-label">Acciones:</span>
    
                <button placement="right" ngbTooltip="{{element.habilitado ? 'Deshabilitar':'Habilitar'}}" class="mr-2"
                    mat-icon-button style="background-color: transparent" (click)="dialogAprobarPlan(element)">
                                                          <mat-icon>{{element.habilitado ? 'clear' : 'done_outline'}}</mat-icon></button>
                  <button placement="right" ngbTooltip="Eliminar"
                    mat-icon-button style="background-color: transparent" (click)="dialogEliminarPedido(element)"><mat-icon>delete</mat-icon></button>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="dspCol"></mat-header-row>
              <mat-row *matRowDef="let row; columns: dspCol;" [ngClass]="row?.habilitado ? 'aprob' : 'pend' " ></mat-row>
            </mat-table>
    
   
            <mat-paginator class="mat-elevation-z8" [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" ></mat-paginator>



      </div> 
</div> 
