<div class="content" fxFlex>
    <router-outlet></router-outlet>
   </div>
<footer class="">
  <div class="row fondofooter">
    <div class="col-sm-4">
        @Copyrigth 2020 Meta @ de sus respectivos propietarios
    </div>
    <div class="col-sm-2">
        Quienes Somos
    </div>
    <div class="col-sm-2">
        Politicas de Privacidad
      </div>
      <div class="col-sm-2">
          Politicas de Servicio
        </div>
        <div class="col-sm-2">

          <i class="fa fa-facebook-f"></i>
          <i class="fa fa-instagram"></i>
          <i class="fa fa-whatsapp"></i>
          </div>
  </div>
</footer>
