<div class="container mt-3">
    <div class="row">
      <div class="col-6">
        <h6 class="titulo">LISTADO DE PROMOCIONES</h6>
      </div>
   
    </div>


    <div class="mt-3">
   
            <!-- Input Agregado para permitir la Busqueda -->
            <mat-form-field>
              <input matInput (keyup)="filtrarPromos($event.target.value)" placeholder="Buscar promo...">
            </mat-form-field>
  
   
            <mat-table #tablapromos [dataSource]="lstPromos" class="mat-elevation-z8">

                <!-- Comercio -->
                <ng-container matColumnDef="comercio">
                    <mat-header-cell *matHeaderCellDef>Comercio</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <span class="mobile-label">Comercio:</span>{{element.comercio.nombre}}
                    </mat-cell>
                  </ng-container>

              <!-- titulo -->
              <ng-container matColumnDef="titulo">
                <mat-header-cell *matHeaderCellDef>Titulo</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span class="mobile-label">Titulo:</span>{{element.titulo}}
                </mat-cell>
              </ng-container>
          
              <!-- Descripcion -->
              <ng-container matColumnDef="descripcion">
                <mat-header-cell *matHeaderCellDef>Descripcion</mat-header-cell>
                <mat-cell *matCellDef="let element" >
                  <span class="mobile-label">Descripcion:</span> {{element.descripcion}}
                </mat-cell>
              </ng-container>
            
              <!-- Acciones Column -->
              <ng-container matColumnDef="acciones">
                <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span class="mobile-label">Acciones:</span>
               <!--    <button placement="right" ngbTooltip="Aprobar" class="mr-2"
                    mat-icon-button style="background-color: transparent" (click)="dialogAprobarUsuario(element)">
                                                          <mat-icon>{{element.habilitado ? 'clear' : 'done_outline'}}</mat-icon></button>
                  <button placement="right" ngbTooltip="Eliminar"
                    mat-icon-button style="background-color: transparent" (click)="dialogEliminarUsuario(element)"><mat-icon>delete</mat-icon></button> -->
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="dspColPromos"></mat-header-row>
              <mat-row *matRowDef="let row; columns: dspColPromos;"></mat-row>
            </mat-table>
    
   
            <mat-paginator class="mat-elevation-z8" [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" ></mat-paginator>



</div> 

</div>
