<div *ngIf="esInicio; then inicial else trabajo"></div>
<ng-template #inicial>
        <app-header-visitantes [esInicio]="esInicio"></app-header-visitantes>
</ng-template>

<ng-template #trabajo>
        <div *ngIf="tokenService.userSignedIn(); then menuwork else menuini"></div>
        <ng-template #menuini>
                <app-header-visitantes [esInicio]="esInicio"></app-header-visitantes>
        </ng-template>
        
        <ng-template #menuwork>
                <app-header></app-header>
        </ng-template>
        
   
</ng-template>


<router-outlet></router-outlet>

