<div class="container mt-3">
  <div class="row">
    <div class="col-8">
      <div class="row">
        <mat-icon class="icono">store</mat-icon>
        <span class="titulo">Mis Comercios</span>
      </div>
    </div>
    <div class="col-4 d-flex justify-content-end">
      <button class="boton-nuevo" (click)="openFormAgregar(crearform)">
        <mat-icon>note_add</mat-icon> Nuevo Comercio
      </button>
      <button class="boton-nuevo-m" (click)="openFormAgregar(crearform)">
        Sumar Comercio
      </button>
    </div>
  </div> <br>

  <!-- CUADRO INFORMACION DE COMERCIO -->
  <div *ngFor="let comer of comercios">
    <div>
      <mat-card class="cuadro mb-5">
        <div class="row">
          <div class="col-5 col-md-2">
            <span class="titulo-item">Nombre: </span>
          </div>
          <div class="col-7 col-md-4">
            <span class="font-weight-bold">{{comer.nombre}}</span>
          </div>
          <div class="col-5 col-md-2">
            <span class="titulo-item"> Rubro:</span>
          </div>
          <div class="col-7 col-md-4">
            <span class="font-weight-bold">{{comer.rubro.descripcion | uppercase}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-5 col-md-2">
            <span class="titulo-item">Dirección: </span>
          </div>
          <div class="col-7 col-md-4">
            <span class="font-weight-bold">{{comer.domicilio}}</span>
          </div>
          <div class="col-5 col-md-2">
            <span class="titulo-item">Localidad: </span>
          </div>
          <div class="col-7 col-md-4">
            <span class="font-weight-bold">{{comer.localidad?.nombre}}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-5 col-md-2">
            <span class="titulo-item">Provincia: </span>
          </div>
          <div class="col-7 col-md-4">
            <span class="font-weight-bold">{{comer.provincia?.nombre}}</span>
          </div>
          <div class="col-5 col-md-2">
            <span class="titulo-item"> Dpto.: </span>
          </div>
          <div class="col-7 col-md-4">
            <span class="font-weight-bold">{{comer.departamento?.nombre}}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-5 col-md-2">
            <span class="titulo-item">Tel/Cel: </span>
          </div>
          <div class="col-7 col-md-4">
            <span class="font-weight-bold">{{comer.telefono}} / {{comer.celular}}</span>
          </div>
          <div class="col-5 col-md-2">
            <span class="titulo-item"> Realiza Envio </span>
          </div>
          <div class="col-7 col-md-4">
            <span class="font-weight-bold">{{comer.envio ? 'SI' : 'NO'}}</span>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-5 col-md-2">
            <span class="titulo-item"> Email: </span>
          </div>

          <div class="col-7 col-md-4">
            <span class="font-weight-bold">{{comer.email}}</span>
          </div>
          <div class="col-5 col-md-2">
            <span class="titulo-item"> Facebook: </span>
          </div>

          <div class="col-7 col-md-4">
            <span class="info-item">{{comer.facebook}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-5 col-md-2">
            <span class="titulo-item"> Instagram: </span>
          </div>

          <div class="col-7 col-md-4">
            <span class="info-item">{{comer.instagram}}</span>
          </div>
          <div class="col-5 col-md-2">
            <span class="titulo-item"> Página Web: </span>
          </div>

          <div class="col-6 col-md-4">
            <span class="info-item">{{comer.web}}</span>
          </div>
        </div>


        <div class="row">
          <div class="col-5 col-md-2">
            <span class="titulo-item">Descripción: </span>
          </div>
          <div class="col-7 col-md-4">
            <span class="font-weight-bold">{{comer.descripcion}}</span>
          </div>

          <div class="col-5 col-md-2">
            <span class="titulo-item"> Plan de Servicio Actual: </span>
          </div>
          <div class="col-7 col-md-4">
            <br><span class="font-weight-bold"> {{comer.tipo_servicio.nombre}}</span>
            <span> (Vto: {{comer.plan_hasta |date: "dd/MM/yy"}})</span>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-5 col-md-2">
            <span class="titulo-item"> Palabras clave: </span>
          </div>
          <div class="col-7 col-md-4">
            <span class="font-weight-bold">{{comer.tags}}</span>
          </div>

          <div class="col-5 col-md-2">
            <span class="titulo-item" [ngClass]="{'oculto': comer.estado === default}"> Plan de Servicio Solicitado:
            </span>
          </div>
          <div class="col-7 col-md-4">
            <br><span class="text-danger font-weight-bold" [ngClass]="{'oculto': comer.estado === default}">
              {{comer.plan_pendiente}} <p>Pendiente de Aprobacion</p> </span>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-2 col-md-2">
            <span class="titulo-item">Horarios: </span>
          </div>
          <div class="col-10 col-md-4">
            <table width="100%" cellspacing="0" cellpadding="5">
              <tr *ngFor="let hor of comer.horarios">
                <td>{{hor.dia_nombre}}</td>
                <td>{{hor.desde}} a {{hor.hasta}}</td>
                <td><button type="button" (click)="dialogEliminarHorario(hor,comer)"
                    class="btn btn-outline-danger btn-sm"> <span class="material-icons">
                      delete
                    </span></button></td>
              </tr>
            </table>
          </div>
          <div class="text-center col-12 col-md-6">
            <span class="titulo-item">Fotos: </span> <br> <br>
            <img class="foto img-fluid" (click)="openFormFoto(modalfoto,comer)" [src]="comer.selectedFoto" alt="">
            <div class="row justify-content-center mt-2">
              <div class="img-wrap mr-2" *ngFor="let foto of comer.fotos; index as i">
                <span class="close" (click)="removeFotoFromServer(foto,comer)">&times;</span>
                <img [src]="foto.toString().split(',')[1]" height="80"
                  (click)="comer.selectedFoto = foto.toString().split(',')[1]">
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-center mt-3">
          <button mat-raised-button type="submit" class="boton-config" color="primary"
            (click)="openFormTags(modaltags,comer)">
            <mat-icon>spellcheck</mat-icon>Tags
          </button>
          <button mat-raised-button type="submit" class="boton-config" color="primary"
            (click)="openFormFoto(modalfoto,comer)">
            <mat-icon>insert_photo</mat-icon>Foto
          </button>
          <button *ngIf="comer.es_premium" mat-raised-button type="submit" class="boton-config" color="primary"
            (click)="openFormFoto(modalvideo,comer)">
            <mat-icon>video_library</mat-icon>Video
          </button>
          <button mat-raised-button type="submit" color="primary" class="boton-config"
            (click)="openFormAgregarUbicacion(comer)">
            <mat-icon>room</mat-icon>Ubicación
          </button>


          <!-- <div class="col-12 col-md-4 mt-2"> -->
          <button mat-raised-button type="submit" class="boton-config" color="primary"
            (click)="openFormHorario(formhorario,comer)">
            <mat-icon>alarm</mat-icon>Horario
          </button>
          <button mat-raised-button type="submit" class="boton-config" color="primary"
            (click)="openFormPlan(modalplan,comer)" [disabled]="comer.estado===solicitud_pendiente">
            <mat-icon>verified</mat-icon>Tipo Servicio
          </button>
          <button *ngIf="!comer.es_gratuito" mat-raised-button type="submit" class="boton-config"
            (click)="verEstadisticas(estmodal,comer)">
            <mat-icon>leaderboard</mat-icon>Estadísticas
          </button>
          <!-- <div class="col-12 col-md-2 mt-2"> -->
          <button mat-raised-button type="submit" class="boton-config"
            (click)="openFormEditarComercio(crearform,comer)">
            <mat-icon>save</mat-icon>Editar Datos
          </button>

          <button mat-raised-button type="submit" class="boton-config" (click)="dialogEliminarComercio(comer)">
            <mat-icon>delete</mat-icon>Eliminar
          </button>
        </div>

      </mat-card> <br>
    </div>
  </div>
</div>

<!-- FORMULARIO PARA CREAR O EDITAR COMERCIO -->
<ng-template #crearform let-modal>
  <div class="container mt-5">
    <div>
      <mat-card class="tarjeta-info">
        <div class="card-body">
          <div class="modal-header modal-encabezado">
            <h5 class="modal-title titulo" id="modal-basic-title">
              <strong>{{comercio.id ? 'Editar Comercio' : 'Alta de Comercio'}}</strong>
            </h5> <span *ngIf="creando_new" class="textopaso">(Paso 1 de 4)</span>
            <button type="button" class="cruz" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form name="form" (ngSubmit)="f.form.valid && (comercio.id ? updateComercio(): altaComercio())" #f="ngForm"
            novalidate>

            <div class="row mt-5">

              <div class="form-group col-6">
                <mat-form-field class="col-12">
                  <input matInput type="text" placeholder="Nombre" required minlength="2" [(ngModel)]="comercio.nombre"
                    name="nombre" #nombre="ngModel" />
                  <mat-error *ngIf="nombre.invalid && nombre.errors.required">Nombre es obligatorio</mat-error>
                  <mat-error *ngIf="nombre.invalid && nombre.errors.minlength">Nombre debe tener al menos 2 letras
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="form-group col-6">
                <mat-form-field class="col-12">
                  <mat-label for="rub">Rubro/Categoria</mat-label>
                  <mat-select id="rub" name="rub" [(ngModel)]="comercio.rubro_id" #rub="ngModel" required>
                    <mat-option *ngFor="let ru of rubros" [value]="ru.id">{{ ru.descripcion }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="rub.invalid && rub.errors.required">Rubro es obligatorio</mat-error>
                </mat-form-field>
              </div>

            </div>
            <!--nombre de comercio y rubro-->
            <div class="row">
              <div class="form-group col-6">
                <mat-form-field class="col-12">
                  <input matInput type="text" placeholder="Teléfono" minlength="1" [(ngModel)]="comercio.telefono"
                    name="telefono" #telefono="ngModel" />
                  <mat-error *ngIf="telefono.invalid && telefono.errors.required">Tel. es obligatorio</mat-error>
                  <mat-error *ngIf="telefono.invalid && telefono.errors.minlength">Tel. debe tener al menos 2 caracteres
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-6">
                <mat-form-field class="col-12">
                  <input matInput type="text" placeholder="Celular" minlength="1" [(ngModel)]="comercio.celular"
                    name="celular" #celular="ngModel" />
                  <button mat-icon-button matSuffix (click)="helpFace(helpcel)" type="button">
                    <mat-icon>help_outline</mat-icon>
                  </button>
                  <mat-error *ngIf="celular.invalid && celular.errors.required">Cel. es obligatorio</mat-error>
                  <mat-error *ngIf="celular.invalid && celular.errors.minlength">Cel. debe tener al menos 2 caracteres
                  </mat-error>
                </mat-form-field>
              </div>
            </div><!-- telefono, celular -->

            <div class="row" hidden>

              <mat-form-field class="col">
                <input matInput type="text" placeholder="Domicilio" minlength="2" [(ngModel)]="comercio.domicilio"
                  name="dom" #dom="ngModel" />
                <mat-error *ngIf="dom.invalid && dom.errors.required">Domicilio es obligatorio</mat-error>
                <mat-error *ngIf="dom.invalid && dom.errors.minlength">Domicilio debe tener al menos 2 letras
                </mat-error>
              </mat-form-field>

            </div><!-- Domicilio-->

            <div class="form-row">
              <div class="form-group col-md-4">
                <mat-form-field class="col">
                  <mat-label for="prov">Provincia</mat-label>
                  <mat-select id="prov" name="prov" [(ngModel)]="comercio.provincia_id" required
                    (selectionChange)="buscarDtos($event.value)" #prov="ngModel">
                    <mat-option *ngFor="let pr of provincias" [value]="pr.id">{{ pr.nombre }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="prov.invalid && prov.errors.required">Elija provincia</mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-md-4" *ngIf="departamentos.length > 0">
                <mat-form-field class="col-12">
                  <mat-label for="dto">Departamento</mat-label>
                  <mat-select id="dto" name="dto" [(ngModel)]="comercio.departamento_id" required
                    (selectionChange)="buscarLocs($event)" #dto="ngModel">
                    <mat-option *ngFor="let dto of departamentos" [value]="dto.id">{{ dto.nombre }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="dto.invalid && dto.errors.required">Elija departamento</mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-md-4" *ngIf="localidades.length > 0">
                <mat-form-field class="col-12">
                  <mat-label for="loc">Localidad</mat-label>
                  <mat-select id="loc" name="loc" [(ngModel)]="comercio.localidad_id" #loc="ngModel" required>
                    <mat-option *ngFor="let loc of localidades" [value]="loc.id">{{ loc.nombre }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="loc.invalid && loc.errors.required">Elija localidad</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-6">
                <mat-form-field class="col-12">
                  <input matInput type="text" placeholder="Página web" minlength="2" [(ngModel)]="comercio.web"
                    name="web" #web="ngModel" />
                  <button mat-icon-button matSuffix (click)="helpFace(helpweb)" type="button">
                    <mat-icon>help_outline</mat-icon>
                  </button>
                  <mat-error *ngIf="web.invalid && web.errors.minlength">pagina web debe tener al menos 2 letras
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-6">
                <mat-form-field class="col-12">
                  <input matInput type="text" placeholder="Instagram" minlength="2" [(ngModel)]="comercio.instagram"
                    name="ins" #ins="ngModel" />
                  <button mat-icon-button matSuffix (click)="helpIg(helpig)" type="button">
                    <mat-icon>help_outline</mat-icon>
                  </button>
                  <mat-error *ngIf="ins.invalid && ins.errors.minlength">instagram debe tener al menos 2 letras
                  </mat-error>
                </mat-form-field>
              </div>
            </div><!-- web y instagram-->
            <div class="row">
              <div class="form-group col-6">

                <mat-form-field class="col-12">
                  <input matInput type="text" placeholder="Facebook" minlength="2" [(ngModel)]="comercio.facebook"
                    name="face" #face="ngModel" />
                  <button mat-icon-button matSuffix (click)="helpFace(helpface)" type="button">
                    <mat-icon>help_outline</mat-icon>
                  </button>
                  <mat-error *ngIf="face.invalid && face.errors.minlength">facebook debe tener al menos 2 letras
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-6 mt-3">
                <mat-slide-toggle [(ngModel)]="comercio.es_fanpage" name="ef" #ef="ngModel" color="primary"
                  [checked]="comercio.es_fanpage" labelPosition="before">
                  ¿Es una fanpage?
                </mat-slide-toggle>
              </div>
            </div><!-- face y facebook id-->

            <div class="row">
              <div class="form-group col-5 col-md-7">
                <mat-form-field class="col-12">
                  <input matInput type="text" placeholder="Email" minlength="2" [(ngModel)]="comercio.email" name="mail"
                    #mail="ngModel" />
                  <mat-error *ngIf="mail.invalid && mail.errors.minlength">email debe tener al menos 2 letras
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-7 col-md-5 mt-3">
                <mat-slide-toggle [(ngModel)]="comercio.envio" name="env" #env="ngModel" color="primary"
                  [checked]="comercio.envio" labelPosition="before" (change)="cambiarTextoEnvio($event)">
                  {{msjenvio}}
                </mat-slide-toggle>
              </div>
            </div>
            <div class="row">
              <mat-form-field class="col">
                <textarea matInput type="text" placeholder="Descripcion" maxlength="256"
                  [(ngModel)]="comercio.descripcion" name="desc" #desc="ngModel">
                </textarea>
              </mat-form-field>
            </div>
            <div class="text-right mt-4">
              <button mat-raised-button type="submit" color="primary">
                <mat-icon>save</mat-icon>Siguiente
              </button>
            </div>

          </form>
        </div>
      </mat-card>
    </div>
  </div>
</ng-template>

<!-- HORARIOS-->
<ng-template #formhorario let-modal>
  <div class="container mt-5">
    <div>
      <mat-card class="tarjeta-info">
        <div class="card-body">
          <div class="modal-header modal-encabezado">
            <h5 class="modal-title titulo" id="modal-basic-title">
              <strong>Horarios </strong>
            </h5> <span *ngIf="creando_new" class="textopaso">(PASO 3 DE 4)</span>
            <button type="button" class="cruz" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form name="form" (ngSubmit)="f.form.valid && addHorario()" #f="ngForm" novalidate>

            <div class="row">
              <div class="col-5">
                <ng-container *ngFor="let dia of semana;let i =index;">
                  <mat-checkbox [checked]="dia.check" (change)='setDia($event,dia)' [(ngModel)]="semana[i].check"
                    name="fin-{{dia.id}}"></mat-checkbox> {{dia.nombre}}<br>
                </ng-container>
              </div>
              <div class="col-7">
                <div class="row">
                  <div class="form-group col-md-6">
                    <mat-form-field class="col">
                      <input matInput type="time" [(ngModel)]="nuevo_horario.desde" name="desde"
                        placeholder="Hora Inicio" required #desde="ngModel" />
                      <mat-error *ngIf="desde.invalid && desde.errors.required">falta hora</mat-error>
                    </mat-form-field>
                  </div><!-- HoraInicio -->
                  <div class="form-group col-md-6">
                    <mat-form-field class="col">
                      <input matInput type="time" [(ngModel)]="nuevo_horario.hasta" name="hasta" placeholder="Hora Fin"
                        required #hasta="ngModel" />
                      <mat-error *ngIf="hasta.invalid && hasta.errors.required">falta hora</mat-error>
                    </mat-form-field>
                  </div><!-- HoraFin -->
                </div>

              </div>
            </div>


            <div class="text-right mt-4">
              <button mat-raised-button type="submit" color="primary">
                <mat-icon>save</mat-icon>Guardar
              </button>
            </div>

          </form>
        </div>
      </mat-card>
    </div>
  </div>
</ng-template>

<!-- CARGA DE FOTO -->
<ng-template #modalfoto let-modal>
  <div class="container mt-1">
    <div>
      <mat-card class="tarjeta-info">
        <div class="card-body">
          <div class="modal-header modal-encabezado">
            <h5 class="modal-title titulo" id="modal-basic-title">
              <strong>Fotos</strong>
            </h5>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Si es Economico o Estandar puede cargar 1 Foto. Si es Premium puede cargar 3 Fotos. -->
            <div class="row" *ngIf="(((comercio?.es_economico) || (comercio?.es_estandar))
            && ((croppedImages.length + comercio.fotos.length) < 1))
            || ((comercio?.es_premium) && ((croppedImages.length + comercio.fotos.length) < 3))">
              <div class="col-sm-9">
                <input *ngIf="agregarFoto" type="file" (change)="fileChangeEvent($event)" />
              </div>
            </div>
            <!-- Cropper para cargar nueva foto. -->
            <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3"
              [resizeToWidth]="400" [imageQuality]="100" format="png" (imageCropped)="imageCropped($event)"
              (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
            </image-cropper>
            <div class="row justify-content-center">
              <div class="img-wrap mr-2 mb-2 shadow-lg" *ngFor="let imc of croppedImages; index as i">
                <span class="close mr-1" (click)="removeFoto(i)">&times;</span>
                <img [src]="imc" height="100">
              </div>
            </div>
            <!-- Boton para aprobar el recorte y foto elegida.-->
            <div class="row justify-content-end">
              <button *ngIf="!agregarFoto" mat-mini-fab color="primary" (click)="addFoto()">
                <mat-icon class="btn-check">check</mat-icon>
              </button>
            </div>            
            <!-- Miniaturas para poder eliminar fotos. -->
            <div class="row justify-content-center mt-2">
              <div class="img-wrap mr-2" *ngFor="let foto of comercio.fotos; index as i">
                <span class="close" (click)="removeFotoFromServer(foto,comercio)">&times;</span>
                <img [src]="foto.toString().split(',')[1]" height="80"
                  (click)="comercio.selectedFoto = foto.toString().split(',')[1]">
              </div>
            </div>
            <!-- Informacion sobre cantidad de Fotos. -->
            <div class="row mt-2 justify-content-center">
              <span class="colorprimario">Fotos Anteriores: {{comercio.fotos.length}}. &nbsp; &nbsp;
                Fotos Nuevas: {{croppedImages.length}}.</span>
            </div>
          </div>

          <div class="modal-footer" *ngIf="croppedImages.length > 0">
            <button mat-raised-button type="submit" class="" color="primary" (click)="guardarFoto()">
              Guardar Fotos ({{croppedImages.length}})
            </button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

</ng-template>

<!-- CARGA DE VIDEO-URL -->
<ng-template #modalvideo let-modal>
  <div class="container mt-1">
    <div>
      <mat-card class="tarjeta-info">
        <div class="card-body">
          <div class="modal-header modal-encabezado">
            <h5 class="modal-title titulo" id="modal-basic-title">
              <strong>Url de Video</strong>
            </h5>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form name="form" (ngSubmit)="f.form.valid && updateComercio()" #f="ngForm" novalidate>

              <div class="form-group">
                <mat-form-field class="col-12">
                  <input matInput type="text" placeholder="Inserte URL" required minlength="2"
                    [(ngModel)]="comercio.url_video" name="url_video" #url_video="ngModel" />
                  <mat-error *ngIf="url_video.invalid && url_video.errors.required">Url es obligatoria</mat-error>
                  <mat-error *ngIf="url_video.invalid && url_video.errors.minlength">la Url debe tener al menos 2 letras
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="text-right mt-4">
                <button mat-raised-button type="submit" color="primary">
                  <mat-icon>save</mat-icon>Guardar
                </button>
              </div>
          </form>
        </div>
      </mat-card>
    </div>
  </div>
</ng-template>

<!-- FORM PALABRAS CLAVES / TAGS /> -->
<ng-template #modaltags let-modal>
  <div class="container mt-5">
    <div>
      <mat-card class="tarjeta-info">
        <div class="card-body">
          <div class="modal-header modal-encabezado">
            <h5 class="modal-title titulo" id="modal-basic-title">
              <strong>Tags</strong> <br>
            </h5><span *ngIf="creando_new" class="textopaso">(PASO 2 DE 4)</span>
            <button type="button" class="cruz" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Las palabras claves son útiles para que los usuarios o clientes puedan buscarlo rápidamente</p>
            <mat-form-field class="example-chip-list">
              <mat-chip-list #chipList aria-label="Palabras claves">
                <mat-chip *ngFor="let clave of palabras" [selectable]="selectable" [removable]="removable"
                  (removed)="remove(clave)">
                  {{clave.clave}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="Nueva palabra clave..." [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="add($event)">
              </mat-chip-list>
            </mat-form-field>
          </div>
          <div class="modal-footer">
            <button mat-raised-button type="submit" class="mr-3" color="primary"
              (click)="guardarTags()">Guardar</button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

</ng-template>


<!-- MODAL Tipo Servicio -->
<ng-template #modalplan let-modal>
  <div class="container">
    <div>
      <mat-card class="tarjeta-info">
        <div class="card-body">
          <div class="modal-header modal-encabezado">
            <h5 class="modal-title titulo" id="modal-basic-title">
              <strong>Tipo de Plan</strong>
            </h5>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form name="form" (ngSubmit)="f.form.valid && !es_pago_mp && updateTipoPlan()" #f="ngForm" novalidate>
              <div class="form-row">
                <mat-form-field class="col-md-9">
                  <mat-label for="ts">Tipo de servicio</mat-label>
                  <mat-select id="ts" name="ts" [(ngModel)]="comercioplan.tipo_servicio_id" [disabled]="es_pago_mp"
                    (selectionChange)="calcularTotalServicio($event.value)" #ts="ngModel">
                    <mat-option *ngFor="let servicio of servicios" [value]="servicio.id">{{ servicio.nombre }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="col-md-3">
                  <mat-label for="ms">Cant. meses</mat-label>
                  <mat-select id="ms" name="ms" [(ngModel)]="comercioplan.meses" [disabled]="es_pago_mp"
                    (selectionChange)="calcularTotalMes($event.value)">
                    <mat-option *ngFor="let cant of meses" [value]="cant">{{ cant }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="form-row">
                <mat-form-field class="col">
                  <mat-label for="fp">Formapago</mat-label>
                  <mat-select id="fp" name="fp" [(ngModel)]="comercioplan.formapago_id"
                    [disabled]="es_servicio_gratuito" (selectionChange)="checkFormapago($event.value)">
                    <mat-option *ngFor="let fp of formapagos" [value]="fp.id">{{ fp.descripcion }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="my-2">
                <span class="subtitulo mb-1">Características del Servicio:</span>
                <p class="text-align-justify">
                  {{comercioplan.tipo_servicio.descripcion}}
                </p>
              </div>

              <div class="form-row text-center">
                <span class="col-4">
                  <p class="subtitulo">Costo Plan: </p>
                  <strong>{{comercioplan.tipo_servicio.importe | currency}}</strong>
                </span>
                <span class="col-4">
                  <p class="subtitulo">Cant. meses:</p><strong>{{comercioplan.meses}}</strong>
                </span>
                <span class="col-3">
                  <p class="subtitulo">Total:</p> <strong>{{comercioplan.importe | currency}}</strong>
                </span>
              </div>

              <div class="form-row mt-3">
                <div class="col-12 text-right" *ngIf="comercioplan.formapago_id">
                  <div [hidden]="!es_pago_mp" id="button-checkout">
                  </div>
                  <button [hidden]="es_pago_mp" mat-raised-button type="submit" color="primary">
                    <mat-icon>save</mat-icon>Cambiar Plan
                  </button>
                </div>
              </div>

            </form>
          </div>

        </div>
      </mat-card>
    </div>
  </div>
</ng-template>


<ng-template #helpface let-modal>
  <div class="container">
    <mat-card class="tarjeta-info">
      <div class="modal-header justify-content-end">
        <button type="button" class="cruz" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <p>Ingrese la URL de su perfil de Facebook</p>
      <img class="foto" src="https://i.ibb.co/31zLnXS/helpface.jpg" alt="">
    </mat-card>
  </div>
</ng-template>

<ng-template #helpig let-modal>
  <div class="container">
    <mat-card class="tarjeta-info">
      <div class="modal-header justify-content-end">
        <button type="button" class="cruz" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <p>Ingrese la URL de su perfil de Instagram</p>
      <img class="foto" src="https://i.ibb.co/dt68yJG/meta-ayuda-ig.png" alt="">
    </mat-card>
  </div>
</ng-template>

<ng-template #helpweb let-modal>
  <div class="container">
    <mat-card class="tarjeta-info">
      <div class="modal-header justify-content-end">
        <button type="button" class="cruz" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <p>Ingrese su direccion web como en la imagen, sin www ni https</p>
      <img class="foto" src="https://i.ibb.co/gVjN3dZ/ayuda-web.jpg" alt="">
    </mat-card>
  </div>
</ng-template>

<ng-template #helpcel let-modal>
  <div class="container">

    <mat-card class="tarjeta-info">
      <div class="modal-header justify-content-end">
        <button type="button" class="cruz" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <p>Ingrese característica y número sin espacios y sin el 15. Ejemplo:</p>
      <h2>3874123456</h2>
    </mat-card>
  </div>
</ng-template>

<ng-template #estmodal let-modal>
  <div class="container">
    <div>
      <mat-card class="tarjeta-info">
        <div class="card-body">
          <div class="modal-header modal-encabezado">
            <h5 class="modal-title titulo" id="modal-basic-title">
              <strong>Estadisticas del comercio</strong>
            </h5>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="form-row">

            <mat-list-item class="col-4" role="listitem">Visitas MetApp</mat-list-item>
            <mat-list-item class="col-8" role="listitem">{{comercio_estadistica.visitas}}</mat-list-item>
          </div>

          <div class="form-row">

            <mat-list-item class="col-4" role="listitem">Visitas Facebook</mat-list-item>
            <mat-list-item class="col-8" role="listitem">{{comercio_estadistica.visitas_face}}</mat-list-item>
          </div>

          <div class="form-row">

            <mat-list-item class="col-4" role="listitem">Visitas Instagram</mat-list-item>
            <mat-list-item class="col-8" role="listitem">{{comercio_estadistica.visitas_ig}}</mat-list-item>
          </div>
          <div class="form-row">

            <mat-list-item class="col-4" role="listitem">Visitas Web</mat-list-item>
            <mat-list-item class="col-8" role="listitem">{{comercio_estadistica.visitas_web}}</mat-list-item>
          </div>

          <div class="form-row">

            <mat-list-item class="col-4" role="listitem">Visitas WhatsApp</mat-list-item>
            <mat-list-item class="col-8" role="listitem">{{comercio_estadistica.visitas_wsp}}</mat-list-item>
          </div>


        </div>
      </mat-card>
    </div>
  </div>
</ng-template>