<div class="container mt-3">
  <div class="row">
    <div class="col-6">
      <h6 class="titulo">MIS COMERCIOS</h6>
    </div>
    <div class="col-6 d-flex justify-content-end">
      <button mat-raised-button placement="right" ngbTooltip="Nuevo" color="primary"
        (click)="openFormAgregar(crearform)">
        <mat-icon>note_add</mat-icon> Nuevo comercio
      </button>
    </div>
  </div> <br>



  <div *ngFor="let comer of comercios">
    <div>
      <mat-card class="mat-elevation-z8 mb-5">
        <div class="row">
          <div class="col-5 col-md-2">
            <span class="titulo-item">Nombre: </span>
          </div>
          <div class="col-7 col-md-4">
            <span class="font-weight-bold">{{comer.nombre}}</span>
          </div>
          <div class="col-5 col-md-2">
            <span class="titulo-item"> Rubro:</span>
          </div>
          <div class="col-7 col-md-4">
            <span class="font-weight-bold">{{comer.rubro.descripcion | uppercase}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-5 col-md-2">
            <span class="titulo-item">Dirección: </span>
          </div>
          <div class="col-7 col-md-4">
            <span class="font-weight-bold">{{comer.domicilio}}</span>
          </div>
          <div class="col-5 col-md-2">
            <span class="titulo-item">Localidad: </span>
          </div>
          <div class="col-7 col-md-4">
            <span class="font-weight-bold">{{comer.localidad?.nombre}}</span>
          </div>


        </div>

        <div class="row">
          <div class="col-5 col-md-2">
            <span class="titulo-item">Provincia: </span>
          </div>
          <div class="col-7 col-md-4">
            <span class="font-weight-bold">{{comer.provincia?.nombre}}</span>
          </div>
          <div class="col-5 col-md-2">
            <span class="titulo-item"> Dpto.: </span>
          </div>
          <div class="col-7 col-md-4">
            <span class="font-weight-bold">{{comer.departamento?.nombre}}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-5 col-md-2">
            <span class="titulo-item">Tel/Cel: </span>
          </div>
          <div class="col-7 col-md-4">
            <span class="font-weight-bold">{{comer.telefono}} / {{comer.celular}}</span>
          </div>
          <div class="col-5 col-md-2">
            <span class="titulo-item"> Realiza Envio </span>
          </div>
          <div class="col-7 col-md-4">
            <span class="font-weight-bold">{{comer.envio ? 'SI' : 'NO'}}</span>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-5 col-md-2">
            <span class="titulo-item"> Email: </span>
          </div>

          <div class="col-7 col-md-4">
            <span class="font-weight-bold">{{comer.email}}</span>
          </div>
          <div class="col-5 col-md-2">
            <span class="titulo-item"> Facebook: </span>
          </div>

          <div class="col-7 col-md-4">
            <span class="font-weight-bold">{{comer.facebook}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-5 col-md-2">
            <span class="titulo-item"> Instagram: </span>
          </div>

          <div class="col-7 col-md-4">
            <span class="font-weight-bold">{{comer.instagram}}</span>
          </div>
          <div class="col-5 col-md-2">
            <span class="titulo-item"> Página Web: </span>
          </div>

          <div class="col-7 col-md-4">
            <span class="font-weight-bold">{{comer.web}}</span>
          </div>
        </div>


        <div class="row">
          <div class="col-5 col-md-2">
            <span class="titulo-item">Descripción: </span>
          </div>
          <div class="col-7 col-md-10">
            <span class="font-weight-bold">{{comer.descripcion}}</span>
          </div>

        </div>

        <div class="row">
            <div class="col-5 col-md-2">
              <span class="titulo-item"> Palabras clave: </span>
            </div>

            <div class="col-7 col-md-4">
              <span class="font-weight-bold">{{comer.tags}}</span>
            </div>
            <div class="col-5 col-md-2">
              <span class="titulo-item"> Tipo servicio: </span>
            </div>

            <div class="col-7 col-md-4">
              <span class="font-weight-bold" [ngClass]="{'text-danger': comer.estado === 1}">{{comer.estado === 1 ? comer.tipo_servicio.nombre+' pendiente de actualizacion': comer.tipo_servicio.nombre}}</span>
            </div>
          </div>
        <br>

        <div class="row">
          <div class="col-2 col-md-2">
            <span class="titulo-item">Horarios: </span>
          </div>
          <div class="col-10 col-md-4">
            <!--     <ng-container *ngFor="let hor of comer.horarios">
                          <span>{{hor.dia_nombre}}: {{hor.desde}} a {{hor.hasta}}</span><br>
                          </ng-container> -->


            <table width="100%" cellspacing="0" cellpadding="5">
              <tr *ngFor="let hor of comer.horarios">
                <td>{{hor.dia_nombre}}</td>
                <td>{{hor.desde}} a {{hor.hasta}}</td>
                <td><button type="button" (click)="dialogEliminarHorario(hor,comer)"
                    class="btn btn-outline-danger btn-sm rounded-circle">X</button></td>
              </tr>
            </table>

          </div>
          <div class="text-center col-12 col-md-6">
            <img class="foto" [attr.src]="[comer.url_foto != null ? comer.url_foto : 'assets/logos/defaultlogo.jpeg']"
              alt="">
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-4 mt-2">
            <button mat-raised-button type="submit" class="mr-3" color="primary" (click)="openFormTags(modaltags,comer)">
              <mat-icon>spellcheck</mat-icon>Tags
            </button>
            <button mat-raised-button type="submit" class="mr-3" color="primary" (click)="openFormFoto(modalfoto,comer)">
              <mat-icon>insert_photo</mat-icon>Foto
            </button>
            <button mat-raised-button type="submit" color="primary"
            (click)="openFormAgregarUbicacion(comer)">
            <mat-icon>room</mat-icon>Ubicación
          </button>
          </div>

            <div class="col-12 col-md-4 mt-2">
              <button mat-raised-button type="submit" class="mr-3" color="primary"
              (click)="openFormHorario(formhorario,comer)">
              <mat-icon>alarm</mat-icon>Horario
            </button>
            <button mat-raised-button type="submit" class="mr-3" color="primary" (click)="openFormPlan(modalplan,comer)">
              <mat-icon>verified</mat-icon>Tipo Servicio
            </button>
            </div>
            <div class="col-12 col-md-2 mt-2">
            <button mat-raised-button type="submit" color="primary" (click)="openFormEditarComercio(crearform,comer)">
              <mat-icon>save</mat-icon>Actualizar datos
            </button>
            </div>
        </div>

      </mat-card>
    </div>
  </div>
</div>

<ng-template #crearform let-modal>
  <div class="container mt-5">
    <div>
      <mat-card class="tarjeta-info">
        <div class="card-body">
          <div class="modal-header modal-encabezado">
            <h5 class="modal-title titulo" id="modal-basic-title">
              <strong>{{comercio.id ? 'Editar comercio' : 'Alta de comercio'}}</strong>
            </h5>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form name="form" (ngSubmit)="f.form.valid && (comercio.id ? updateComercio(): altaComercio())" #f="ngForm"
            novalidate>

            <div class="row mt-5">

              <div class="form-group col-6">
                <mat-form-field>
                  <input matInput type="text" placeholder="nombre" required minlength="2" [(ngModel)]="comercio.nombre"
                    name="nombre" #nombre="ngModel" />
                  <mat-error *ngIf="nombre.invalid && nombre.errors.required">Nombre es obligatorio</mat-error>
                  <mat-error *ngIf="nombre.invalid && nombre.errors.minlength">Nombre debe tener al menos 2 letras
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="form-group col-6">
                <mat-form-field>
                  <mat-label for="rub">Rubro/Categoria</mat-label>
                  <mat-select id="rub" name="rub" [(ngModel)]="comercio.rubro_id" #rub="ngModel" required>
                    <mat-option *ngFor="let ru of rubros" [value]="ru.id">{{ ru.descripcion }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

            </div><!-- Apellido, Nombres-->
            <div class="row">
              <div class="form-group col-6">
                <mat-form-field>
                  <input matInput type="text" placeholder="telefono" minlength="1" [(ngModel)]="comercio.telefono"
                    name="telefono" #telefono="ngModel" />
                  <mat-error *ngIf="telefono.invalid && telefono.errors.required">Tel. es obligatorio</mat-error>
                  <mat-error *ngIf="telefono.invalid && telefono.errors.minlength">Tel. debe tener al menos 2 caracteres
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-6">
                <mat-form-field>
                  <input matInput type="text" placeholder="celular" minlength="1" [(ngModel)]="comercio.celular"
                    name="celular" #celular="ngModel" />
                  <mat-error *ngIf="celular.invalid && celular.errors.required">Cel. es obligatorio</mat-error>
                  <mat-error *ngIf="celular.invalid && celular.errors.minlength">Cel. debe tener al menos 2 caracteres
                  </mat-error>
                </mat-form-field>
              </div>
            </div><!-- telefono, celular -->

            <div class="row">

              <mat-form-field class="col">
                <input matInput type="text" placeholder="Domicilio" required minlength="2"
                  [(ngModel)]="comercio.domicilio" name="dom" #dom="ngModel" />
                <mat-error *ngIf="dom.invalid && dom.errors.required">Domicilio es obligatorio</mat-error>
                <mat-error *ngIf="dom.invalid && dom.errors.minlength">Domicilio debe tener al menos 2 letras
                </mat-error>
              </mat-form-field>

            </div><!-- Domicilio-->

            <div class="form-row">
              <div class="form-group col-md-4">
                <mat-form-field class="col">
                  <mat-label for="prov">Provincia</mat-label>
                  <mat-select id="prov" name="prov" [(ngModel)]="comercio.provincia_id"
                    (selectionChange)="buscarDtos($event)">
                    <mat-option *ngFor="let pr of provincias" [value]="pr.id">{{ pr.nombre }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="form-group col-md-4" *ngIf="departamentos.length > 0">
                <mat-form-field class="col">
                  <mat-label for="dto">Departamento</mat-label>
                  <mat-select id="dto" name="dto" [(ngModel)]="comercio.departamento_id"
                    (selectionChange)="buscarLocs($event)">
                    <mat-option *ngFor="let dto of departamentos" [value]="dto.id">{{ dto.nombre }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="form-group col-md-4" *ngIf="localidades.length > 0">
                <mat-form-field class="col">
                  <mat-label for="loc">Localidad</mat-label>
                  <mat-select id="loc" name="loc" [(ngModel)]="comercio.localidad_id">
                    <mat-option *ngFor="let loc of localidades" [value]="loc.id">{{ loc.nombre }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-6">
                <mat-form-field>
                  <input matInput type="text" placeholder="pagina web" minlength="2" [(ngModel)]="comercio.web"
                    name="web" #web="ngModel" />
                  <mat-error *ngIf="web.invalid && web.errors.minlength">pagina web debe tener al menos 2 letras
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-6">
                <mat-form-field>
                  <input matInput type="text" placeholder="facebook" minlength="2" [(ngModel)]="comercio.facebook"
                    name="face" #face="ngModel" />
                  <mat-error *ngIf="face.invalid && face.errors.minlength">facebook debe tener al menos 2 letras
                  </mat-error>
                </mat-form-field>
              </div>
            </div><!-- web y facebook-->
            <div class="row">
              <div class="form-group col-6">
                <mat-form-field>
                  <input matInput type="text" placeholder="instagram" minlength="2" [(ngModel)]="comercio.instagram"
                    name="ins" #ins="ngModel" />
                  <mat-error *ngIf="ins.invalid && ins.errors.minlength">instagram debe tener al menos 2 letras
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-6">
                <mat-form-field>
                  <input matInput type="text" placeholder="twitter" minlength="2" [(ngModel)]="comercio.twitter"
                    name="tw" #tw="ngModel" />
                  <mat-error *ngIf="tw.invalid && tw.errors.minlength">twitter debe tener al menos 2 letras
                  </mat-error>
                </mat-form-field>
              </div>
            </div><!-- instagram twitter-->
            <div class="row">
              <div class="form-group col-6">
                <mat-form-field>
                  <input matInput type="text" placeholder="email" minlength="2" [(ngModel)]="comercio.email" name="mail"
                    #mail="ngModel" />
                  <mat-error *ngIf="mail.invalid && mail.errors.minlength">email debe tener al menos 2 letras
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-6">
                <mat-slide-toggle [(ngModel)]="comercio.envio" name="env" #env="ngModel" v color="primary"
                  [checked]="comercio.envio" (change)="cambiarTextoEnvio($event)" [disabled]="disabled">
                  {{msjenvio}}
                </mat-slide-toggle>
              </div>
            </div>
            <div class="row">

              <mat-form-field class="col">
                <textarea matInput type="text" placeholder="descripcion" maxlength="256"
                  [(ngModel)]="comercio.descripcion" name="desc" #desc="ngModel">
            </textarea>
              </mat-form-field>
            </div>
            <div class="text-right mt-4">
              <button mat-raised-button type="submit" color="primary">
                <fa-icon icon="save"></fa-icon>Enviar
              </button>
            </div>

          </form>
        </div>
      </mat-card>
    </div>
  </div>
</ng-template>

<!-- HORARIOs-->
<ng-template #formhorario let-modal>
  <div class="container mt-5">
    <div>
      <mat-card class="tarjeta-info">
        <div class="card-body">
          <div class="modal-header modal-encabezado">
            <h5 class="modal-title titulo" id="modal-basic-title">
              <strong>Horarios</strong>
            </h5>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form name="form" (ngSubmit)="f.form.valid && addHorario()" #f="ngForm" novalidate>

            <div class="row">
              <div class="col-5">
                <ng-container *ngFor="let dia of semana;let i =index;">
                  <mat-checkbox [checked]="dia.check" (change)='setDia($event,dia)' [(ngModel)]="semana[i].check"
                    name="fin-{{dia.id}}"></mat-checkbox> {{dia.nombre}}<br>
                </ng-container>
              </div>
              <div class="col-7">
                <div class="row">
                  <div class="form-group col-md-6">
                    <mat-form-field class="col">
                      <input matInput type="time" [(ngModel)]="nuevo_horario.desde" name="desde"
                        placeholder="Hora Inicio" />
                    </mat-form-field>
                  </div><!-- HoraInicio -->
                  <div class="form-group col-md-6">
                    <mat-form-field class="col">
                      <input matInput type="time" [(ngModel)]="nuevo_horario.hasta" name="hasta"
                        placeholder="Hora Fin" />
                    </mat-form-field>
                  </div><!-- HoraFin -->
                </div>

              </div>
            </div>


            <div class="text-right mt-4">
              <button mat-raised-button type="submit" color="primary">
                <fa-icon icon="save"></fa-icon>Guardar
              </button>
            </div>

          </form>
        </div>
      </mat-card>
    </div>
  </div>
</ng-template>

 <!-- CARGA DE FOTO -->
<ng-template #modalfoto let-modal>
  <div class="container mt-5">
    <div>
      <mat-card class="tarjeta-info">
        <div class="card-body">
          <div class="modal-header modal-encabezado">
            <h5 class="modal-title titulo" id="modal-basic-title">
              <strong>Foto o logo</strong>
            </h5>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!--    <div class="form-group">
                            <div class="input-group">
                            <input type="file" (change)="selectFile($event)">
                            </div>
                        </div> -->

            <input type="file" (change)="fileChangeEvent($event)" />

            <!-- <button (click)="save()">Guardar cambios</button> -->
            <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3"
              [resizeToWidth]="400" [imageQuality]="100" format="png" (imageCropped)="imageCropped($event)"
              (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
            </image-cropper>


            <!-- <img [src]="croppedImage" /> -->
          </div>
          <div class="modal-footer">
            <button mat-raised-button type="submit" class="mr-3" color="primary" (click)="guardarLogo()">Subir
              foto</button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

</ng-template>

<!-- FORM PALABRAS CLAVES / TAGS /> -->
<ng-template #modaltags let-modal>
  <div class="container mt-5">
    <div>
      <mat-card class="tarjeta-info">
        <div class="card-body">
          <div class="modal-header modal-encabezado">
            <h5 class="modal-title titulo" id="modal-basic-title">
              <strong>Tags</strong>
            </h5>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Las palabras claves son útiles para que los usuarios o clientes puedan buscarlo rápidamente</p>
            <mat-form-field class="example-chip-list">
              <mat-chip-list #chipList aria-label="Palabras claves">
                <mat-chip *ngFor="let clave of palabras" [selectable]="selectable" [removable]="removable"
                  (removed)="remove(clave)">
                  {{clave.clave}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="Nueva palabra clave..." [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="add($event)">
              </mat-chip-list>
            </mat-form-field>
          </div>
          <div class="modal-footer">
            <button mat-raised-button type="submit" class="mr-3" color="primary"
              (click)="guardarTags()">Guardar</button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

</ng-template>


<!-- MODAL cambiar plan -->
<ng-template #modalplan let-modal>
    <div class="container">
        <div>
          <mat-card class="tarjeta-info">
            <div class="card-body">
              <div class="modal-header modal-encabezado">
                <h5 class="modal-title titulo" id="modal-basic-title">
                  <strong>Tipo de Plan</strong>
                </h5>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                  <form name="form" (ngSubmit)="f.form.valid && updateTipoPlan()" #f="ngForm" novalidate>

                      <div class="form-row">

                            <mat-form-field class="col-md-9">
                                <mat-label for="ts">Tipo de servicio</mat-label>
                                <mat-select id="ts" name="ts" [(ngModel)]="comercioplan.tipo_servicio_id" (selectionChange)="calcularTotalServicio($event.value)"
                                  #ts="ngModel">
                                  <mat-option *ngFor="let servicio of servicios" [value]="servicio.id">{{ servicio.nombre }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>


                            <mat-form-field class="col-md-3">
                              <mat-label for="ms">Cant. meses</mat-label>
                              <mat-select id="ms" name="ms" [(ngModel)]="comercioplan.meses" (selectionChange)="calcularTotalMes($event.value)"
                                >
                                <mat-option *ngFor="let cant of meses" [value]="cant">{{ cant }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>

                      </div>

                      <div class="form-row">

                            <mat-form-field class="col">
                                <mat-label for="fp">Formapago</mat-label>
                                <mat-select id="fp" name="fp" [(ngModel)]="comercioplan.formapago_id"
                                  >
                                  <mat-option *ngFor="let fp of formapagos" [value]="fp.id">{{ fp.descripcion }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>

                      </div>

                <p>
                 {{comercioplan.tipo_servicio.descripcion}}

                </p>
                <div class="form-row">
                  <span class="col-4">{{comercioplan.tipo_servicio.importe}}</span>
                  <span class="col-4">Cant. meses {{comercioplan.meses}}</span>
                  <span class="col-4"><strong>Total: {{comercioplan.importe}}</strong> </span>
                </div>

                      <div class="form-row mt-3">

                        <div class="col-12 text-right">
                          <button mat-raised-button type="submit" color="primary"><fa-icon icon="save"></fa-icon>Cambiar plan</button>
                        </div>
                      </div>

                    </form>
              </div>

            </div>
          </mat-card>
        </div>
      </div>


    </ng-template>


