.container {
  padding-top: 20px;
}

.modal-dialog {
    margin: 4.75rem auto;
}
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0.25rem;
}

.icono {
    color: #f36904;
    margin-left: 15px;
    margin-right: 10px;
    display: flex;
    vertical-align: middle;
  }

.titulo {
    font: normal normal 24px sans-serif;
    font-weight: bold;
    color: #f36904;
  }

.titulo-item {
    padding-right: 3px;
  }

.info-item {
    font-weight: bold;
    word-wrap: break-word;
    padding-right: 2px;
  }

.pac-container {
    z-index: 99999 !important;
}


.modal{
    z-index: 20;
}

.modal-backdrop{
    z-index: 10;
}

.foto {
    max-width:95%;
    max-height:80%;
    vertical-align: middle;
    border-radius: 1em;
    }

    .boton-nuevo {
        width: 150px;
        height: 35px;
        display: flex;
        align-items: center;
        font-family: Century;
        font-size: 13px;
        font-weight: bold;
        color: #ffffff;
        background-color: #f36904;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.1s ease 0s;
        cursor: pointer;
        outline: none;
        }

        .boton-nuevo:hover {
            background-color: #ffffff;
            box-shadow: 0px 15px 20px rgba(233, 105, 32, 0.4);
            color: #f36904;
            transform: translateY(-2px);
          }

.boton-nuevo-m {
    display: none;
}

.boton-config {
    background: #ee7222;
    margin: 3px;
    padding: 2px;
    width: 120px;
}
  
.boton-config:hover {
    background-color: #3c3c3c;
    box-shadow: 0px 15px 20px rgba(95, 87, 82, 0.4);
    color: #000000;
    transform: translateY(-3px);
  }

.cuadro {
    border-left: 1px solid #ee7222;
/*     border-bottom: 1px solid #ee7222; */
}

/* CSS PARA MOBILE */
@media (max-width: 900px) {

.titulo {
    font: normal normal 18px sans-serif;
}
.boton-nuevo {
    display: none;
}
.boton-nuevo-m {
    width: 75px;
    height: 35px;
    display: flex;
    align-items: center;
    font-family: Century;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    background-color: #f36904;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease 0s;
    cursor: pointer;
    outline: none;
    /* letter-spacing: 0.25em; */
    }
}