<div class="content" fxFlex>
    <router-outlet></router-outlet>

</div>

   <!-- Footer MOBILE -->
<footer class="footer fixed-bottom informacion pl-1">
  <div class="row mt-1 align-items-center justify-content-center">
     @2020 Meta @ de sus respectivos propietarios
    </div>
  <div class="row mt-1 align-items-left">
    <div class="col">
      Politicas de Privacidad
    </div>
    <div class="col">
      <button type="button" (click)="irAQuienes()" class="menu-boton btn btn-link btn-outline-light">Quienes Somos</button>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col">
      Politicas de Servicio
    </div>
    <div class="col">
      <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-f mx-2"></i></a>
      <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram mx-2"></i></a>
      <a href="https://web.whatsapp.com/" target="_blank"><i class="fa fa-whatsapp ml-2"></i></a>
    </div>
  </div>
</footer>

  <!-- Footer DESKTOP -->
  <footer class="footerdesktop fixed-bottom">
    <div class="row informacion">
      <div class="col-sm-5 d-flex align-items-center justify-content-end">
          @2020 Meta @ de sus respectivos propietarios
      </div>
      <div class="col-sm-2 d-flex align-items-center justify-content-end">
        <button type="button" (click)="irAQuienes()" class="menu-boton btn btn-link btn-outline-light">Quienes Somos</button>
      </div>
      <div class="col-sm-2 d-flex align-items-center justify-content-end">
          Politicas de Privacidad
        </div>
        <div class="col-sm-2 d-flex align-items-center justify-content-end">
            Politicas de Servicio
          </div>
        <div class="col-sm-1 d-flex align-items-center justify-content-center">

            <i class="fa fa-facebook-f mx-2"></i>
            <i class="fa fa-instagram mx-2"></i>
            <i class="fa fa-whatsapp ml-2"></i>
            </div>
    </div>
  </footer>