.footerrectangulo {
  width: 100%;
  height: 250px;
  background-color: #3c3c3c;
  }

/*   .footertriangulo {
    width: 100%;
  border-right: 49.5rem solid #3c3c3c;
  border-left: 49.5rem solid #3c3c3c;
  border-top: 100px solid white;
  } */
  .logoblanco {
  width: 181px;
  height: 113px;
  }
  .footer-link {
  color: white;
  cursor: pointer;
  }

  .footer-link:hover {
  text-decoration-line: underline;
  }

  nav{
    content: "";
    top: 100%;
    left: 0;
    border-top: 10vw solid #ffffff;
    border-left: 49.4vw solid #3c3c3c;
    border-right: 49.4vw solid #3c3c3c;
  }

@media (max-width: 1440px) {
  .footerrectangulo {
    height: 200px;
    }
  nav{
    content: "";
    top: 100%;
    left: 0;
    border-top: 10vw solid #ffffff;
    border-left: 49.2vw solid #3c3c3c;
    border-right: 49.2vw solid #3c3c3c;
  }
}


@media (max-width: 900px) {
nav{
    border-top: 10vw solid #ffffff;
    border-left: 49vw solid #3c3c3c;
    border-right: 49vw solid #3c3c3c;
}
  .logoblanco {
  width: 90px;
  height: 66px;
  }
  }

@media (max-width: 760px) {
  .footerrectangulo {
  width: 100%;
  height: 360px;
  background-color: #3c3c3c;
  }
  nav{
    border-top: 10vw solid #ffffff;
    border-left: 49.5vw solid #3c3c3c;
    border-right: 49.5vw solid #3c3c3c;
}
  .logoblanco {
  width: 90px;
  height: 66px;
  }
}
