<div class="footerrectangulo">
    <div class="footertriangulo">
    </div>


  <div class="row" style="color: white; text-align: center;width: 100%;">
    <div class="footertitulo col-6 col-md-4">
      <div class="col d-flex justify-content-center">
        <img class="logoblanco" src="/assets/logos/logos-06.png" alt="">
      </div>
    </div>
    <!--    <div class="logoandroid">
      <div class="col-6 ">
        <img class="logoandroid" src="/assets/iconoandroid.png" alt="">
      </div> <br>
    </div> -->

    <div class="col-6 col-md-2">
      <br> <strong>SUMATE</strong> <br>
      Se Parte <br>
      Acuerdos <br>
    </div>
    <div class="col-6 col-md-2">
      <br> <strong>AYUDA</strong> <br>
      Preguntas Frecuentes<br>
      Contactate <br>
    </div>
    <div class="col-6 col-md-2">
      <br> <strong>LEGAL</strong> <br>
      <a class="footer-link" [routerLink]="['/politica_uso']">Politicas de Uso</a>
      <br>
      <a class="footer-link" [routerLink]="['/politica_privacidad']">Politicas de Privacidad</a>
    </div>
    <div class="col-6 col-md-2">
      <br> <strong>SEGUINOS</strong> <br>
      Whatsapp <br>
      Facebook <br>
      Instagram
    </div>
    <!-- <div class="col-6 col-md-2">
      <div class="d-flex justify-content-center">
        <img class="android" src="/assets/logos/android2.png" alt="">
      </div>
    </div> -->
  </div>
</div>
