<div class="">
  <nav></nav>
</div>

<div class="footerrectangulo">
  <!--    <div class="footertriangulo">
      </div> -->
      <br><br>
  <div class="row" style="color: white; text-align: center;width: 100%;">
    <div class="footertitulo col-12 col-md-4">
      <div class="col d-flex justify-content-center">
        <img class="logoblanco" src="https://i.ibb.co/PgXRGWk/logos-06.png" alt="">
      </div>
    </div>

    <div class="col-6 col-md-2">
      <br> <strong>SUMATE</strong> <br>
      <a class="footer-link" (click)="irAPanel()">Sé parte</a>
      <br>
      Acuerdos <br>
    </div>
    <div class="col-6 col-md-2">
      <br> <strong>AYUDA</strong> <br>
      <a class="footer-link" [routerLink]="['/se_parte']">Preguntas Frecuentes</a>
      <br>
      <a class="footer-link" [routerLink]="['/consulta']">Contactate</a><br>
    </div>
    <div class="col-6 col-md-2">
      <br> <strong>LEGAL</strong> <br>
      <a class="footer-link" [routerLink]="['/politica_uso']">Politicas de Uso</a>
      <br>
      <a class="footer-link" [routerLink]="['/politica_privacidad']">Politicas de Privacidad</a>
    </div>
    <div class="col-6 col-md-2">
      <br> <strong>SEGUINOS</strong> <br>
      <a class="footer-link" [href]="safeURL" target="_blank">Whastapp</a><br>
      <!-- <a class="footer-link" href="https://web.whatsapp.com/" target="_blank">Whastapp</a> <br> -->
      <a class="footer-link" href="https://www.facebook.com/meta.cerca" target="_blank">Facebook</a> <br>
      <a class="footer-link" href="https://www.instagram.com/meta.cerca/" target="_blank">Instagram</a>
    </div>

  </div>
</div>

