.container{
  margin-top: 45px;
  margin-bottom: 200px;
}

.a {
  color: darkgrey;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #f36904;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}
.icono {
  color: #f36904;
  margin-left: 20px;
  margin-right: 10px;
}
.modal-title {
  margin-top: 100px;
  font: normal bold larger sans-serif;
  color: #f36904;
  margin-bottom: 30pt;
}

.btn-registro{
  font-weight: bold;
  margin-left: 10px;
} 
.img-circle {
    border-radius: 50%;
}

.tarjeta-info{
  padding: 0px;
  border-color: transparent;
  box-shadow: none;
}

.mat-card-header .mat-card-subtitle:not(:first-child) {
    margin-top: -11px;
    margin-bottom: -5px;
}

input {
    font-family: 'Roboto';
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }

  .txt-solapa {
    font-weight: bold;
    color: #707070;
  }
