.container{
  margin-top: 45px;
  margin-bottom: 200px;
}

.icono {
  color: #f36904;
  margin-left: 20px;
  margin-right: 10px;
}
.titulo {
  font: normal normal 24px sans-serif;
  color: #f36904;
}

.img-circle {
    border-radius: 50%;
}

.tarjeta-info{
  padding: 0px;
  border-color: transparent;
  box-shadow: none;
}

.mat-card-header .mat-card-subtitle:not(:first-child) {
    margin-top: -11px;
    margin-bottom: -5px;
}

input {
    font-family: 'Roboto';
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }
