<div class="container">

  <div *ngIf="tokenService.currentUserData?.habilitado === false;then formalta else panel"></div>

  <ng-template #formalta>
    <div class="container offset-md-2 col-md-6 mt-3">

      <div class="titulo">
        <h5 class="modal-title justify-content-center" ngbAutofocus>Solicitar Alta en Meta!</h5>
      </div>
      <div class="example-container">
        <mat-card class="tarjeta-info">
          <form name="form" (ngSubmit)="f.form.valid && altaUsuario()" #f="ngForm" novalidate>

            <div class="form-row">
              <div class="col-12">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="Apellido y Nombres" required minlength="2"
                    [(ngModel)]="usuario.nombre" name="nombre" #nombre="ngModel" />
                  <mat-error *ngIf="nombre.invalid && nombre.errors.required">Nombre es obligatorio</mat-error>
                  <mat-error *ngIf="nombre.invalid && nombre.errors.minlength">Nombre debe tener al menos 2 letras
                  </mat-error>
                </mat-form-field>
              </div>
            </div><!-- Apellido, Nombres-->

            <div class="form-row">
              <div class="col-12 col-md-6">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="Teléfono" minlength="1" [(ngModel)]="usuario.telefono"
                    name="telefono" #telefono="ngModel" />
                  <mat-error *ngIf="telefono.invalid && telefono.errors.minlength">Tel. debe tener al menos 2 caracteres
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12 col-md-6">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="Celular" minlength="1" required [(ngModel)]="usuario.celular"
                    name="celular" #celular="ngModel" />
                  <mat-error *ngIf="celular.invalid && celular.errors.required">Cel. es obligatorio</mat-error>
                  <mat-error *ngIf="celular.invalid && celular.errors.minlength">Cel. debe tener al menos 2 caracteres
                  </mat-error>
                </mat-form-field>
              </div>
            </div><!-- telefono, celular -->

            <div class="form-row">
              <div class="col-12">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="Domicilio" required minlength="2"
                    [(ngModel)]="usuario.domicilio" name="dom" #dom="ngModel" />
                  <mat-error *ngIf="dom.invalid && dom.errors.required">Domicilio es obligatorio</mat-error>
                  <mat-error *ngIf="dom.invalid && dom.errors.minlength">Domicilio debe tener al menos 2 letras
                  </mat-error>
                </mat-form-field>
              </div>
            </div><!-- Domicilio-->

            <div class="form-row">
              <div class="col-12">
                <mat-form-field class="example-full-width">
                  <mat-label for="prov">Provincia</mat-label>
                  <mat-select id="prov" name="prov" [(ngModel)]="usuario.provincia_id"
                    (selectionChange)="buscarDtos($event)">
                    <mat-option *ngFor="let pr of provincias" [value]="pr.id">{{ pr.nombre }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-12" *ngIf="departamentos.length > 0">
                <mat-form-field class="example-full-width">
                  <mat-label for="dto">Departamento</mat-label>
                  <mat-select id="dto" name="dto" [(ngModel)]="usuario.departamento_id"
                    (selectionChange)="buscarLocs($event)">
                    <mat-option *ngFor="let dto of departamentos" [value]="dto.id">{{ dto.nombre }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-12" *ngIf="localidades.length > 0">
                <mat-form-field class="example-full-width">
                  <mat-label for="loc">Localidad</mat-label>
                  <mat-select id="loc" name="loc" [(ngModel)]="usuario.localidad_id">
                    <mat-option *ngFor="let loc of localidades" [value]="loc.id">{{ loc.nombre }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="text-right mt-4">
              <button mat-raised-button class="btn-registro" type="submit" color="primary">
                Regristrarme
              </button>
            </div>
          </form>
        </mat-card>

      </div>

    </div>
  </ng-template>

<!--   VISTA PARA COMERCIOS EN ALTA -->
  <ng-template #panel>
    <ul ngbNav #nav="ngbNav" [destroyOnHide]="false" class="nav-tabs mt-5">
      <li [ngbNavItem]="1" [destroyOnHide]="false">
        <a ngbNavLink class="txt-solapa">Mis comercios</a>
        <ng-template ngbNavContent>
          <app-gestioncomercio></app-gestioncomercio>
        </ng-template>
      </li>

      <li [ngbNavItem]="2" [destroyOnHide]="true" [disabled]="!usuario.acceso_promos">
        <a ngbNavLink class="txt-solapa">Mis Promos</a>
        <ng-template ngbNavContent>
          <app-gestion-promos [usuario]="usuario"></app-gestion-promos>
        </ng-template>
      </li>

      <li [ngbNavItem]="3" [destroyOnHide]="true">
        <a ngbNavLink class="txt-solapa">Mis Planes</a>
        <ng-template ngbNavContent>
          <app-gestion-mis-planes></app-gestion-mis-planes>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </ng-template>



</div>
