<div class="cuerpo container">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="row ">
        <mat-icon class="icono">list</mat-icon>
        <h5 class="titulo"> Gestión de Comercios</h5>
      </div>
    </div>
    <div class="col-12 col-md-6 d-flex justify-content-end">
      <mat-card class="tarjeta-info">
        <mat-card-header>
          <div mat-card-avatar
            [ngStyle]="{'background-image': 'url('+tokenService.currentUserData?.image+')', 'background-size': 'cover'  }">
          </div>
          <mat-card-title>Admin: {{tokenService.currentUserData?.name}}</mat-card-title>
          <mat-card-subtitle>{{tokenService.currentUserData?.email}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>

  <div class="mt-1">

    <div class="row">
      <div class="col-12 col-sm-9">
        <!-- Input de Busqueda -->
        <mat-form-field>
          <input matInput (keyup)="filtrarComercios($event.target.value)" placeholder="Buscar comercio...">
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-3  text-left">
        <button class="btn-habilitado"></button> Comercio Habilitado <br>
        <button class="btn-deshabilitado"></button> Comercio Deshabilitado
      </div>
    </div>

    <mat-table #tablacomercios [dataSource]="lstComercios" class="mat-elevation-z8">
      <!-- Nombre -->
      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef>Nombre Comercio</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label" (click)="verComercio(element.id)">Nombre:</span>
          <span class="nombre-com" (click)="verComercio(element.id)">{{element.nombre}}</span>
        </mat-cell>
      </ng-container>
      <!-- Rubro -->
      <ng-container matColumnDef="rubro">
        <mat-header-cell *matHeaderCellDef>Rubro</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Rubro:</span>
          <span class="detalle">{{element.rubro.descripcion}}</span>
        </mat-cell>
      </ng-container>
      <!-- Usuario -->
      <ng-container matColumnDef="usuario">
        <mat-header-cell *matHeaderCellDef>Usuario</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Usuario:</span>
          <span class="detalle">{{element.usuario.nombre}}</span>
        </mat-cell>
      </ng-container>
      <!-- Direccion -->
      <ng-container matColumnDef="domicilio">
        <mat-header-cell *matHeaderCellDef>Direccion</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Direccion:</span>
          <span class="detalle">{{element.domicilio}}</span>
        </mat-cell>
      </ng-container>
      <!-- Servicio -->
      <ng-container matColumnDef="tiposervicio">
        <mat-header-cell *matHeaderCellDef>Servicio</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Servicio:</span>
          <span class="detalle">{{element.tipo_servicio.nombre}}</span>
        </mat-cell>
      </ng-container>

      <!-- Acciones Column -->
      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Acciones:</span>
          <button placement="right" ngbTooltip="Editar" mat-icon-button style="color: white"
            (click)="openFormEditar(editarcomercio,element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button placement="right" ngbTooltip="Horarios" mat-icon-button style="color: white"
          (click)="openFormHorario(formhorario,element)">
            <mat-icon>alarm</mat-icon>
          </button>
          <button placement="right" ngbTooltip="Fotos" mat-icon-button style="color: white"
          (click)="openFormFoto(modalfoto,element)">
            <mat-icon>image</mat-icon>
          </button>
          <button placement="right" ngbTooltip="{{element.habilitado ? 'Deshabilitar':'Habilitar'}}" class="mr-2"
            mat-icon-button style="color: white" (click)="dialogAprobarComercio(element)">
            <mat-icon>{{element.habilitado ? 'disabled_by_default' : 'fact_check'}}</mat-icon>
          </button>
          <button placement="right" ngbTooltip="Ver info" mat-icon-button style="color: white"
            (click)="openFormInfo(info,element)">
            <mat-icon>visibility</mat-icon>
          </button>
          <button placement="right" ngbTooltip="Eliminar" mat-icon-button style="color: white"
            (click)="dialogEliminarComercio(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="dspCol"></mat-header-row>
      <mat-row *matRowDef="let row; columns: dspCol;" [ngClass]="row?.habilitado ? 'aprob' : 'pend' "></mat-row>
    </mat-table>

    <mat-paginator class="mat-elevation-z8" [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>

<!-- Formulario EDITAR COMERCIO-->
<ng-template #editarcomercio let-modal>
  <div class="container mt-5">
    <div>
      <mat-card>
        <div class="card-body">
          <div class="modal-header modal-encabezado">
            <h5 class="modal-title titulo" id="modal-basic-title">
              <strong>Editar {{comercioSelected.nombre}}</strong>
            </h5>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form name="form" (ngSubmit)="f.form.valid && updateComercio()" #f="ngForm" novalidate>
            <div class="row mt-5">

              <div class="col-12 col-md-6">
                <mat-form-field class="col-12">
                  <input matInput type="text" placeholder="Nombre" required minlength="2"
                    [(ngModel)]="comercioSelected.nombre" name="nombre" #nombre="ngModel" />
                  <mat-error *ngIf="nombre.invalid && nombre.errors.required">Nombre es obligatorio</mat-error>
                  <mat-error *ngIf="nombre.invalid && nombre.errors.minlength">Nombre debe tener al menos 2 letras
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-12 col-md-6">
                <mat-form-field class="col-12">
                  <mat-label for="rub">Rubro/Categoria</mat-label>
                  <mat-select id="rub" name="rub" [(ngModel)]="comercioSelected.rubro_id" #rub="ngModel" required>
                    <mat-option *ngFor="let ru of rubros" [value]="ru.id">{{ ru.descripcion }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="rub.invalid && rub.errors.required">Rubro es obligatorio</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-md-6">
                <mat-form-field class="col-12">
                  <input matInput type="text" placeholder="Teléfono" minlength="1" [(ngModel)]="comercioSelected.telefono"
                    name="telefono" #telefono="ngModel" />
                  <mat-error *ngIf="telefono.invalid && telefono.errors.required">Tel. es obligatorio</mat-error>
                  <mat-error *ngIf="telefono.invalid && telefono.errors.minlength">Tel. debe tener al menos 2 caracteres
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12 col-md-6">
                <mat-form-field class="col-12">
                  <input matInput type="text" placeholder="Celular" minlength="1" [(ngModel)]="comercioSelected.celular"
                    name="celular" #celular="ngModel" />
                    <button mat-icon-button matSuffix type="button">
                      <mat-icon>help_outline</mat-icon>
                      </button>
                  <mat-error *ngIf="celular.invalid && celular.errors.required">Cel. es obligatorio</mat-error>
                  <mat-error *ngIf="celular.invalid && celular.errors.minlength">Cel. debe tener al menos 2 caracteres
                  </mat-error>
                </mat-form-field>
              </div>
            </div><!-- telefono, celular -->

            <div class="row">
              <div class="col-12 col-md-6">
                <mat-form-field class="col-12">
                  <input matInput type="text" placeholder="Página web" minlength="2" [(ngModel)]="comercioSelected.web"
                    name="web" #web="ngModel" />
                  <mat-error *ngIf="web.invalid && web.errors.minlength">pagina web debe tener al menos 2 letras
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12 col-md-6">
                <mat-form-field class="col-12">
                  <input matInput type="text" placeholder="Instagram" minlength="2" [(ngModel)]="comercioSelected.instagram"
                    name="ins" #ins="ngModel" />
                  <mat-error *ngIf="ins.invalid && ins.errors.minlength">instagram debe tener al menos 2 letras
                  </mat-error>
                </mat-form-field>
              </div>
            </div><!-- web y instagram-->
            <div class="row">
              <div class="form-group col-12 col-md-6">
                <mat-form-field class="col-12">
                  <input matInput type="text" placeholder="Facebook" minlength="2" [(ngModel)]="comercioSelected.facebook"
                    name="face" #face="ngModel" />
                  <mat-error *ngIf="face.invalid && face.errors.minlength">facebook debe tener al menos 2 letras
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-12 col-md-6">
                <mat-form-field class="col-12">
                  <input matInput type="text" placeholder="Facebook ID" minlength="2" [(ngModel)]="comercioSelected.facebook_id"
                    name="tw" #tw="ngModel" />
                  <mat-error *ngIf="tw.invalid && tw.errors.minlength">Facebook id debe tener al menos 2 letras
                  </mat-error>
                </mat-form-field>
              </div>
            </div><!-- facebook, facebook_id-->
            <div class="row">
              <div class="form-group col-12 col-md-6">
                <mat-slide-toggle [(ngModel)]="comercioSelected.es_fanpage" name="ef" #ef="ngModel" color="primary"
                [checked]="comercioSelected.es_fanpage" labelPosition="before">
                ¿Es una fanpage?
              </mat-slide-toggle>
              </div>
              <div class="form-group col-12 col-md-6">

              </div>
            </div><!-- es fanpage?-->
            <!-- Descripcion-->
            <div class="row">
              <div class="col-12">
                <mat-form-field class="col-12">
                  <textarea matInput type="text" placeholder="Descripción" maxlength="256"
                    [(ngModel)]="comercioSelected.descripcion" name="desc" #desc="ngModel">
                  </textarea>
                </mat-form-field>
              </div>
            </div>
            <!-- Url Video-->
            <div class="form-group">
              <mat-form-field class="col-12">
                <input matInput type="text" placeholder="URL Youtube" [(ngModel)]="comercioSelected.url_video" name="url_video" #url_video="ngModel" />
              </mat-form-field>
            </div>            
            <div class="text-right mt-4">
              <button mat-raised-button type="submit" color="primary">
                <mat-icon>save</mat-icon>Actualizar
              </button>
            </div>

          </form>
        </div>
      </mat-card>
    </div>
  </div>
</ng-template>

<!-- Formulario VER INFO-->
<ng-template #info let-modal>
  <div class="container mt-3">
    <div>
      <mat-card >
        <div class="card-body">
          <div class="modal-header modal-encabezado">
            <h5 class="modal-title titulo" id="modal-basic-title">
              <strong>Info de {{comercioSelected.nombre}}</strong>
            </h5>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="row justify-content-center">
            <strong>Principal</strong>
          </div>
          <div class="form-row">
            <mat-list-item class="col-4" role="listitem">Nombre</mat-list-item>
            <mat-list-item class="col-8" role="listitem">{{comercioSelected.nombre |titlecase}}</mat-list-item>
          </div>
          <div class="form-row">

            <mat-list-item class="col-4" role="listitem">Descripcion</mat-list-item>
            <mat-list-item class="col-8" role="listitem">{{comercioSelected.descripcion}}</mat-list-item>
          </div>

          <div class="form-row">

            <mat-list-item class="col-4" role="listitem">Domicilio</mat-list-item>
            <mat-list-item class="col-8" role="listitem">{{comercioSelected.domicilio}}</mat-list-item>
          </div>
          <div class="form-row">
            <mat-list-item class="col-4" role="listitem">Ubicación</mat-list-item>
            <mat-list-item class="col-8" role="listitem">{{comercioSelected.localidad.nombre}},
              {{comercioSelected.provincia.nombre}}</mat-list-item>
          </div>
          <div class="form-row">
            <mat-list-item class="col-4" role="listitem">Plan</mat-list-item>
            <mat-list-item class="col-8" role="listitem">{{comercioSelected.tipo_servicio.nombre}}</mat-list-item>
          </div>
          <div class="form-row">
            <mat-list-item class="col-4" role="listitem">Registrado</mat-list-item>
            <mat-list-item class="col-8" role="listitem">{{comercioSelected.created_at | date:'dd/MM/yy hh:mm a'}}</mat-list-item>
          </div>
          <br>
          <div class="row justify-content-center">
            <strong>Contacto</strong>
          </div>
          <div class="form-row">
            <mat-list-item class="col-4" role="listitem">Tel./Cel</mat-list-item>
            <mat-list-item class="col-8" role="listitem">{{comercioSelected.telefono}} / {{comercioSelected.celular}}
            </mat-list-item>
          </div>

          <div class="form-row">

            <mat-list-item class="col-4" role="listitem">Web</mat-list-item>
            <mat-list-item class="col-8" role="listitem">{{comercioSelected.web}}</mat-list-item>
          </div>

          <div class="form-row">
            <mat-list-item class="col-4" role="listitem">Instagram</mat-list-item>
            <mat-list-item class="col-8" role="listitem">{{comercioSelected.instagram}}</mat-list-item>
          </div>

          <div class="form-row">
            <mat-list-item class="col-4" role="listitem">Facebook</mat-list-item>
            <mat-list-item class="col-8 txt-info" role="listitem">{{comercioSelected.facebook}}</mat-list-item>
          </div>

          <div class="form-row">
            <mat-list-item class="col-4" role="listitem">Facebook ID</mat-list-item>
            <mat-list-item class="col-8 txt-info" role="listitem">{{comercioSelected.facebook_id}}</mat-list-item>
          </div>
          <div *ngIf="comercioSelected.facebook" class="form-row">
            <mat-list-item class="col-4" role="listitem">Tipo Face</mat-list-item>
            <mat-list-item class="col-8 txt-info" role="listitem">{{comercioSelected.es_fanpage ? 'Fanpage': 'Perfil Personal'}}</mat-list-item>
          </div>

          <div class="row justify-content-center">
            <strong>Estadisticas</strong>
          </div>
          <div class="form-row">
            <mat-list-item class="col-4" role="listitem">Visitas MetApp</mat-list-item>
            <mat-list-item class="col-8 txt-info" role="listitem">{{comercioSelected.visitas}}</mat-list-item>
          </div>

          <div class="form-row">
            <mat-list-item class="col-4" role="listitem">Visitas Facebook</mat-list-item>
            <mat-list-item class="col-8 txt-info" role="listitem">{{comercioSelected.visitas_face}}</mat-list-item>
          </div>

          <div class="form-row">
            <mat-list-item class="col-4" role="listitem">Visitas Instagram</mat-list-item>
            <mat-list-item class="col-8 txt-info" role="listitem">{{comercioSelected.visitas_ig}}</mat-list-item>
          </div>
          <div class="form-row">
            <mat-list-item class="col-4" role="listitem">Visitas Web</mat-list-item>
            <mat-list-item class="col-8 txt-info" role="listitem">{{comercioSelected.visitas_web}}</mat-list-item>
          </div>

          <div class="form-row">
            <mat-list-item class="col-4" role="listitem">Visitas WhatsApp</mat-list-item>
            <mat-list-item class="col-8 txt-info" role="listitem">{{comercioSelected.visitas_wsp}}</mat-list-item>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</ng-template>

<!-- Formulario HORARIOS-->
<ng-template #formhorario let-modal>
  <div class="container mt-5">
    <div>
      <mat-card class="tarjeta-info">
        <div class="card-body">
          <div class="modal-header modal-encabezado">
            <h5 class="modal-title titulo" id="modal-basic-title">
              <strong>Horarios {{comercioSelected.nombre}}</strong>
            </h5>
            <button type="button" class="cruz" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="row">
            <table width="100%" cellspacing="0" cellpadding="5">
              <tr *ngFor="let hor of comercioSelected.horarios">
                <td>{{hor.dia_nombre}}</td>
                <td>{{hor.desde}} a {{hor.hasta}}</td>
                <td><button type="button" (click)="dialogEliminarHorario(hor)"
                    class="btn btn-outline-danger btn-sm"> <span class="material-icons">
                      delete
                    </span></button></td>
              </tr>
            </table>
          </div>
          <form name="form" (ngSubmit)="f.form.valid && addHorario()" #f="ngForm" novalidate>

            <div class="row">
              <div class="col-5">
                <ng-container *ngFor="let dia of semana;let i =index;">
                  <mat-checkbox [checked]="dia.check" (change)='setDia($event,dia)' [(ngModel)]="semana[i].check"
                    name="fin-{{dia.id}}"></mat-checkbox> {{dia.nombre}}<br>
                </ng-container>
              </div>
              <div class="col-7">
                <div class="row">
                  <div class="form-group col-md-6">
                    <mat-form-field class="col">
                      <input matInput type="time" [(ngModel)]="nuevo_horario.desde" name="desde"
                        placeholder="Hora Inicio" required #desde="ngModel" />
                      <mat-error *ngIf="desde.invalid && desde.errors.required">falta hora</mat-error>
                    </mat-form-field>
                  </div><!-- HoraInicio -->
                  <div class="form-group col-md-6">
                    <mat-form-field class="col">
                      <input matInput type="time" [(ngModel)]="nuevo_horario.hasta" name="hasta" placeholder="Hora Fin"
                        required #hasta="ngModel" />
                      <mat-error *ngIf="hasta.invalid && hasta.errors.required">falta hora</mat-error>
                    </mat-form-field>
                  </div><!-- HoraFin -->
                </div>

              </div>
            </div>
            <div class="text-right mt-4">
              <button mat-raised-button type="submit" color="primary">
                <mat-icon>save</mat-icon>Guardar
              </button>
            </div>

          </form>
        </div>
      </mat-card>
    </div>
  </div>
</ng-template>

<!-- Formulario IMAGEN-->
<!-- <ng-template #formimagen let-modal>
  <div class="container mt-5">
    <div>
      <mat-card class="tarjeta-info">
        <div class="card-body">
          <div class="modal-header modal-encabezado">
            <h5 class="modal-title titulo" id="modal-basic-title">
              <strong>Imagen de Comercio <br> {{comercioSelected.nombre}}</strong>
            </h5>
            <button type="button" class="cruz" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <input type="file" (change)="fileChangeEvent($event)" />
            <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3"
              [resizeToWidth]="400" [imageQuality]="100" format="png" (imageCropped)="imageCropped($event)"
              (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
            </image-cropper>
          </div>
          
          <div class="modal-footer">
            <button mat-raised-button type="submit" class="mr-3" color="primary" (click)="guardarLogo()">Subir
              foto</button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</ng-template> -->

<!-- CARGA DE FOTO -->
<ng-template #modalfoto let-modal>
  <div class="container mt-5">
    <div>
      <mat-card class="tarjeta-info">
        <div class="card-body">
          <div class="modal-header modal-encabezado">
            <h5 class="modal-title titulo" id="modal-basic-title">
              <strong>Fotos "{{comercio.nombre}}"</strong>
            </h5>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Si es Economico o Estandar puede cargar 1 Foto. Si es Premium puede cargar 3 Fotos. -->
            <div class="row" *ngIf="((!comercio?.es_premium ) && ((croppedImages.length + comercio.fotos.length) < 1))
            || ((comercio?.es_premium) && ((croppedImages.length + comercio.fotos.length) < 3))">
              <div class="col-sm-9">
                <input *ngIf="agregarFoto" type="file" (change)="fileChangeEvent($event)" />
              </div>
            </div>
            <!-- Cropper para cargar nueva foto. -->
            <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3"
              [resizeToWidth]="400" [imageQuality]="100" format="png" (imageCropped)="imageCropped($event)"
              (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
            </image-cropper>
            <div class="row justify-content-center">
              <div class="img-wrap mr-2 mb-2 shadow-lg" *ngFor="let imc of croppedImages; index as i">
                <span class="close mr-1" (click)="removeFoto(i)">&times;</span>
                <img [src]="imc" height="100">
              </div>
            </div>
            <!-- Boton para aprobar el recorte y foto elegida.-->
            <div class="row justify-content-end">
              <button *ngIf="!agregarFoto" mat-mini-fab color="primary" (click)="addFoto()">
                <mat-icon class="btn-check">check</mat-icon>
              </button>
            </div>            
            <!-- Miniaturas para poder eliminar fotos. -->
            <div class="row justify-content-center mt-2">
              <div class="img-wrap mr-2" *ngFor="let foto of comercio.fotos; index as i">
                <span class="close" (click)="removeFotoFromServer(foto,comercio)">&times;</span>
                <img [src]="foto.toString().split(',')[1]" height="80"
                  (click)="comercio.selectedFoto = foto.toString().split(',')[1]">
              </div>
            </div>
            <!-- Informacion sobre cantidad de Fotos. -->
            <div class="row mt-2 justify-content-center">
              <span class="colorprimario">Fotos Actuales: {{comercio.fotos.length}}. &nbsp; &nbsp;
                Fotos Nuevas: {{croppedImages.length}}.</span>
            </div>            
          </div>

          <div class="modal-footer" *ngIf="croppedImages.length > 0">
            <button mat-raised-button type="submit" class="" color="primary" (click)="guardarFoto()">
              Guardar Fotos ({{croppedImages.length}})
            </button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

</ng-template>