<div class="cuerpo container">
  <div class="row mb-2">
    <div class="col-12 col-md-6">
      <div class="row ">
        <mat-icon class="icono">list</mat-icon>
        <h5 class="titulo"> Gestión de Comercios</h5>
      </div>
    </div>
    <div class="col-12 col-md-6 d-flex justify-content-end">
      <mat-card class="tarjeta-info">
        <mat-card-header>
          <div mat-card-avatar
            [ngStyle]="{'background-image': 'url('+tokenService.currentUserData?.image+')', 'background-size': 'cover'  }">
          </div>
          <mat-card-title>Admin: {{tokenService.currentUserData?.name}}</mat-card-title>
          <mat-card-subtitle>{{tokenService.currentUserData?.email}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>

  <div class="mt-3">

    <div class="row">
      <div class="col-12 col-sm-9">
        <!-- Input de Busqueda -->
        <mat-form-field>
          <input matInput (keyup)="filtrarComercios($event.target.value)" placeholder="Buscar comercio...">
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-3  text-left">
        <button class="btn-habilitado"></button> Comercio Habilitado <br>
        <button class="btn-deshabilitado"></button> Comercio Deshabilitado
      </div>
    </div>



    <mat-table #tablacomercios [dataSource]="lstComercios" class="mat-elevation-z8">
      <!-- Nombre -->
      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef>Nombre Comercio</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Nombre:</span>
          <span class="detalle">{{element.nombre}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="rubro">
        <mat-header-cell *matHeaderCellDef>Rubro</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Rubro:</span>
          <span class="detalle">{{element.rubro.descripcion}}</span>
        </mat-cell>
      </ng-container>

      <!-- Email -->
      <ng-container matColumnDef="usuario">
        <mat-header-cell *matHeaderCellDef>Usuario</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Usuario:</span>
          <span class="detalle">{{element.usuario.nombre}}</span>
        </mat-cell>
      </ng-container>
      <!-- Rol -->
      <ng-container matColumnDef="domicilio">
        <mat-header-cell *matHeaderCellDef>Direccion</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Direccion:</span>
          <span class="detalle">{{element.domicilio}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="tiposervicio">
        <mat-header-cell *matHeaderCellDef>Servicio</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Servicio:</span>
          <span class="detalle">{{element.tipo_servicio.nombre}}</span>
        </mat-cell>
      </ng-container>

      <!-- Acciones Column -->
      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Acciones:</span>
          <button placement="right" ngbTooltip="Editar" mat-icon-button style="color: white"
            (click)="openFormEditar(editarcomercio,element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button placement="right" ngbTooltip="{{element.habilitado ? 'Deshabilitar':'Habilitar'}}" class="mr-2"
            mat-icon-button style="color: white" (click)="dialogAprobarComercio(element)">
            <mat-icon>{{element.habilitado ? 'disabled_by_default' : 'fact_check'}}</mat-icon>
          </button>

          <button placement="right" ngbTooltip="Ver info" mat-icon-button style="color: white"
            (click)="openFormInfo(info,element)">
            <mat-icon>visibility</mat-icon>
          </button>

          <button placement="right" ngbTooltip="Eliminar" mat-icon-button style="color: white"
            (click)="dialogEliminarComercio(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="dspCol"></mat-header-row>
      <mat-row *matRowDef="let row; columns: dspCol;" [ngClass]="row?.habilitado ? 'aprob' : 'pend' "></mat-row>
    </mat-table>


    <mat-paginator class="mat-elevation-z8" [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>



  </div>
</div>



<ng-template #editarcomercio let-modal>
  <div class="container mt-5">
    <div>
      <mat-card class="tarjeta-info">
        <div class="card-body">
          <div class="modal-header modal-encabezado">
            <h5 class="modal-title titulo" id="modal-basic-title">
              <strong>Editar Comercio {{comercioSelected.nombre}}</strong>
            </h5>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form name="form" (ngSubmit)="f.form.valid && updateComercio()" #f="ngForm" novalidate>

            <div class="row mt-5">

              <div class="form-group col-6">
                <mat-form-field>
                  <input matInput type="text" placeholder="nombre" required minlength="2"
                    [(ngModel)]="comercioSelected.nombre" name="nombre" #nombre="ngModel" />
                  <mat-error *ngIf="nombre.invalid && nombre.errors.required">Nombre es obligatorio</mat-error>
                  <mat-error *ngIf="nombre.invalid && nombre.errors.minlength">Nombre debe tener al menos 2 letras
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="form-group col-6">
                <mat-form-field>
                  <textarea matInput type="text" placeholder="descripcion" maxlength="256"
                    [(ngModel)]="comercioSelected.descripcion" name="desc" #desc="ngModel">
                  </textarea>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-6">
                <mat-form-field class="col-12">
                  <input matInput type="text" placeholder="Teléfono" minlength="1" [(ngModel)]="comercioSelected.telefono"
                    name="telefono" #telefono="ngModel" />
                  <mat-error *ngIf="telefono.invalid && telefono.errors.required">Tel. es obligatorio</mat-error>
                  <mat-error *ngIf="telefono.invalid && telefono.errors.minlength">Tel. debe tener al menos 2 caracteres
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-6">
                <mat-form-field class="col-12">
                  <input matInput type="text" placeholder="Celular" minlength="1" [(ngModel)]="comercioSelected.celular"
                    name="celular" #celular="ngModel" />
                    <button mat-icon-button matSuffix type="button">
                      <mat-icon>help_outline</mat-icon>
                      </button>
                  <mat-error *ngIf="celular.invalid && celular.errors.required">Cel. es obligatorio</mat-error>
                  <mat-error *ngIf="celular.invalid && celular.errors.minlength">Cel. debe tener al menos 2 caracteres
                  </mat-error>
                </mat-form-field>
              </div>
            </div><!-- telefono, celular -->

            <div class="row">
              <div class="form-group col-6">
                <mat-form-field class="col-12">
                  <input matInput type="text" placeholder="Página web" minlength="2" [(ngModel)]="comercioSelected.web"
                    name="web" #web="ngModel" />
                 <!--    <button mat-icon-button matSuffix (click)="helpFace(helpweb)" type="button">
                      <mat-icon>help_outline</mat-icon>
                      </button> -->
                  <mat-error *ngIf="web.invalid && web.errors.minlength">pagina web debe tener al menos 2 letras
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-6">
                <mat-form-field class="col-12">
                  <input matInput type="text" placeholder="Facebook" minlength="2" [(ngModel)]="comercioSelected.facebook"
                    name="face" #face="ngModel" />
                   <!--  <button mat-icon-button matSuffix (click)="helpFace(helpface)" type="button">
                      <mat-icon>help_outline</mat-icon>
                      </button> -->
                  <mat-error *ngIf="face.invalid && face.errors.minlength">facebook debe tener al menos 2 letras
                  </mat-error>
                </mat-form-field>
              </div>
            </div><!-- web y facebook-->
            <div class="row">
              <div class="form-group col-6">
                <mat-form-field class="col-12">
                  <input matInput type="text" placeholder="Instagram" minlength="2" [(ngModel)]="comercioSelected.instagram"
                    name="ins" #ins="ngModel" />
                   <!--  <button mat-icon-button matSuffix (click)="helpIg(helpig)" type="button">
                      <mat-icon>help_outline</mat-icon>
                      </button> -->
                  <mat-error *ngIf="ins.invalid && ins.errors.minlength">instagram debe tener al menos 2 letras
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-6" hidden>
                <mat-form-field class="col-12">
                  <input matInput type="text" placeholder="Twitter" minlength="2" [(ngModel)]="comercioSelected.twitter"
                    name="tw" #tw="ngModel" />
                  <mat-error *ngIf="tw.invalid && tw.errors.minlength">twitter debe tener al menos 2 letras
                  </mat-error>
                </mat-form-field>
              </div>
            </div><!-- instagram twitter-->

            <div class="text-right mt-4">
              <button mat-raised-button type="submit" color="primary">
                <mat-icon>save</mat-icon>Actualizar
              </button>
            </div>

          </form>
        </div>
      </mat-card>
    </div>
  </div>
</ng-template>


<!-- Formulario ver info-->
<ng-template #info let-modal>
  <div class="container">
    <div>
      <mat-card class="tarjeta-info">
        <div class="card-body">
          <div class="modal-header modal-encabezado">
            <h5 class="modal-title titulo" id="modal-basic-title">
              <strong>Info de {{comercioSelected.nombre}}</strong>
            </h5>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="form-row">

            <mat-list-item class="col-4" role="listitem">Nombre</mat-list-item>
            <mat-list-item class="col-8" role="listitem">{{comercioSelected.nombre |titlecase}}</mat-list-item>
          </div>

          <div class="form-row">

            <mat-list-item class="col-4" role="listitem">Descripcion</mat-list-item>
            <mat-list-item class="col-8" role="listitem">{{comercioSelected.descripcion}}</mat-list-item>
          </div>

          <div class="form-row">

            <mat-list-item class="col-4" role="listitem">Domicilio</mat-list-item>
            <mat-list-item class="col-8" role="listitem">{{comercioSelected.domicilio}}</mat-list-item>
          </div>
          <div class="form-row">

            <mat-list-item class="col-4" role="listitem">Tel./Cel</mat-list-item>
            <mat-list-item class="col-8" role="listitem">{{comercioSelected.telefono}} / {{comercioSelected.celular}}
            </mat-list-item>
          </div>

          <div class="form-row">

            <mat-list-item class="col-4" role="listitem">Web</mat-list-item>
            <mat-list-item class="col-8" role="listitem">{{comercioSelected.web}}</mat-list-item>
          </div>
          <div class="form-row">

            <mat-list-item class="col-4" role="listitem">Facebook</mat-list-item>
            <mat-list-item class="col-8" role="listitem">{{comercioSelected.facebook}}</mat-list-item>
          </div>
          <div class="form-row">

            <mat-list-item class="col-4" role="listitem">Instagram</mat-list-item>
            <mat-list-item class="col-8" role="listitem">{{comercioSelected.instagram}}</mat-list-item>
          </div>
          <div class="form-row">

            <mat-list-item class="col-4" role="listitem">Ubicación</mat-list-item>
            <mat-list-item class="col-8" role="listitem">{{comercioSelected.localidad.nombre}},
              {{comercioSelected.provincia.nombre}}</mat-list-item>
          </div>
          <div class="form-row">

            <mat-list-item class="col-4" role="listitem">Plan</mat-list-item>
            <mat-list-item class="col-8" role="listitem">{{comercioSelected.tipo_servicio.nombre}},
              {{comercioSelected.provincia.nombre}}</mat-list-item>
          </div>
          <!--  <div class="text-right mt-4">
            <button mat-raised-button type="submit" color="primary">
              <mat-icon>save</mat-icon>Cerrar
            </button>
          </div> -->
        </div>
      </mat-card>
    </div>
  </div>
</ng-template>