<div class="fondoinicio">
  <div class="fondoinicio offset-sm-1 col-sm-10 pt-1">
    <div class="row justify-content-center">
      <h3 style="font-weight: bold;">¿Quiénes somos?</h3>
    </div>
    <div class="row">
      <p>
        Meta! es la oportunidad de compartir y conectar de manera profesional y colaborativa a comerciantes y clientes de una
        misma zona, brindando herramientas de marketing digital para facilitar transacciones entre vecinos de una manera
        fácil, inteligente y segura.
        Por qué elegir Meta!
        Porque posee plataforma atractiva y sencilla que ofrece la posibilidad de que el comerciante fidelice a sus clientes
        mediante beneficios especiales, y promocione sus productos y servicios ante potenciales clientes localizados.
        Utilizamos herramientas de marketing digital para potenciar el comercio de la zona y estimulamos el uso del
        e-commerce. Además ofrecemos asesoramiento y capacitación para nuestros comercios adheridos.
        Los usuarios podrán utilizar una plataforma con múltiples beneficios y de navegación predictible que facilitará
        encontrar a su nuevo comercio favorito!
      </p>
    </div>
    <div class="row justify-content-center">
      <h3 style="font-weight: bold;">Por qué elegir META</h3>
    </div>
    <div class="row">
      <p>
        Porque posee plataforma atractiva y sencilla que ofrece la posibilidad de que el comerciante
        fidelice a sus clientes mediante beneficios especiales, y promocione sus productos y servicios
        ante potenciales clientes localizados. Utilizamos herramientas de marketing digital para
        potenciar el comercio de la zona y estimularnos el uso del e-commerce.
        Además ofrecemos asesoramiento y capacitación para nuestros comercios adheridos.<br>
        Los usuarios podran usar una plataforma con múltiples beneficios y de navegación predictible
        que facilitará encontrar a su nuevo comercio favorito!
      </p>
    </div>
    <div class="row">
      <div class="col">
        <div>
          <img src="/assets/quienes/shop.svg" style="max-width:100%;width:auto;height:auto;">
        </div>
        <h4 style="font-weight: bold;">Beneficios para el Comercio </h4> <br>
        <ul style="text-align: start;">
          <li>Mayor visualización y difusión</li>
          <li>Desarrollo de mercado</li>
          <li>Ahorro en marketing</li>
          <li>Modernización de las herramientas de comercialización</li>
          <li>Capacitación publicitaria</li>
          <li>Administración de contenidos</li>
          <li>No se paga comisión por ventas</li>
          <li>La publicación va dirigida a su clientes más potencial</li>
          <li>Período de prueba gratuito</li>
          <li>Aranceles súper accesibles y diferenciados según la necesidad de los comercios</li>
          <li>Estadísticas de visualización</li>
          <li>Potenciamiento de sus redes sociales</li>
        </ul>
      </div>
      <div class="col">
        <div>
          <img src="/assets/quienes/group.svg" style="max-width:100%;width:auto;height:auto;">
        </div>
        <h4 style="font-weight: bold;">Beneficios para el Consumidor</h4><br>
        <ul style="text-align: start;">
          <li>Acceso a promociones y ofertas exclusivas (Ahorro de dinero!)</li>
          <li>Interfaz predictiva y responsiva (fácil acceso y navegación), ahorro de tiempo!</li>
          <li>Comunicación directa con el comercio</li>
          <li>Servicio gratuito</li>
          <li>Posibilidad de referenciar y acceso a referencias de otros clientes</li>
          <li>Búsqueda comercial en otras zonas donde la aplicación esté implantada</li>
          <li>Proximidad al domicilio</li>
          <li>Todos los rubros en un solo lugar</li>
          <li>Cuando se levanten las restricciones tendrás acceso a una agenda cultural y comercial de la zona</li>
          <li>Reserva de turnos en comercios específicos</li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-center">
      <h4 style="font-weight: bold;">¡Tu vecino tiene la solución!</h4><br>
    </div>
  </div>

</div>
