<div class="contenedor">

  <!-- Rectangulo de Imagen Principal Superior -->
  <div class="contenedorimagen">
    <div #ini class="rectangulo">
    </div>
  </div>


  <!-- Menu, Logo, Barra de Busqueda -->
  <div class="superficial">
    <!-- Logo Meta -->
    <div class="row contenedorlogo">
        <img class="logoblanco" src="https://i.ibb.co/PgXRGWk/logos-06.png" alt="">
    </div>

    <div class="row contenedorsubtit">
      <div class="col align-self-start">
      </div>
      <div class="col d-flex align-items-center justify-content-center">
        <span #busca id='loque' class="slogan">Lo que quieras</span><span class="txtcerca ml-2"> CERCA</span>
      </div>
      <div class="col align-self-end">
      </div>
    </div>
  </div>

  <!-- Logo Naranja y Contenido de la Pagina -->
  <div class="fondoinicio offset-sm-1 col-sm-10">
    <div class="align-items-center justify-content-center">
      <img class="logoNaranja" src="https://i.ibb.co/Bghqrhf/logos-05.png" alt="">
    </div>

    <div class="row mt-1 somos">
      <!-- Video Youtube META CERCA -->
      <div #demoYouTubePlayer class="col-12 col-sm-6 demo-youtube-player">
        <youtube-player videoId="u4-2rGYC1FI" [width]="videoWidth" [height]="videoHeight"></youtube-player>
      </div>

      <div class="col-12 col-sm-6">
        <div class="row justify-content-center">
          <h3 class="subtitulos">¿Quiénes somos?</h3>
        </div>
        <div class="ParrafoMeta">
          Meta! es la oportunidad de compartir y conectar de manera profesional y colaborativa a comerciantes y clientes de
          una
          misma zona, brindando herramientas de marketing digital para facilitar transacciones entre vecinos de una manera
          fácil, inteligente y segura.
        </div> <br>
      </div>
    </div>


    <div class="row justify-content-center">
      <h3 class="subtitulos">Por qué elegir META</h3>
    </div>
    <div class="ParrafoMeta">
      Porque posee una plataforma atractiva y sencilla que ofrece la posibilidad de que el comerciante
      fidelice a sus clientes mediante beneficios especiales, y promocione sus productos y servicios
      ante potenciales clientes localizados. Utilizamos herramientas de marketing digital para
      potenciar el comercio de la zona y estimularnos el uso del e-commerce.
      Además ofrecemos asesoramiento y capacitación para nuestros comercios adheridos.<br>
      Los usuarios podran usar una plataforma con múltiples beneficios y de navegación predictible
      que facilitará encontrar a su nuevo comercio favorito!
    </div> <br> <br>
    <div class="row">
      <div class="col-12 col-sm-6">
        <div>
          <img src="/assets/quienes/shop.svg" style="max-width:100%;width:auto;height:auto;">
        </div>
        <h4 style="font-weight: bold;">Beneficios para el Comercio </h4> <br>
        <ul style="text-align: start;">
          <li>Mayor visualización y difusión</li>
          <li>Desarrollo de mercado</li>
          <li>Ahorro en marketing</li>
          <li>Modernización de las herramientas de comercialización</li>
          <li>Capacitación publicitaria</li>
          <li>Administración de contenidos</li>
          <li>No se paga comisión por ventas</li>
          <li>La publicación va dirigida a su clientes más potencial</li>
          <li>Período de prueba gratuito</li>
          <li>Aranceles súper accesibles y diferenciados según la necesidad de los comercios</li>
          <li>Estadísticas de visualización</li>
          <li>Potenciamiento de sus redes sociales</li>
        </ul>
      </div>
      <div class="col-12 col-sm-6">
        <div>
          <img src="/assets/quienes/group.svg" style="max-width:100%;width:auto;height:auto;">
        </div>
        <h4 style="font-weight: bold;">Beneficios para el Consumidor</h4><br>
        <ul style="text-align: start;">
          <li>Acceso a promociones y ofertas exclusivas (Ahorro de dinero!)</li>
          <li>Interfaz predictiva y responsiva (fácil acceso y navegación), ahorro de tiempo!</li>
          <li>Comunicación directa con el comercio</li>
          <li>Servicio gratuito</li>
          <li>Posibilidad de referenciar y acceso a referencias de otros clientes</li>
          <li>Búsqueda comercial en otras zonas donde la aplicación esté implantada</li>
          <li>Proximidad al domicilio</li>
          <li>Todos los rubros en un solo lugar</li>
          <li>Cuando se levanten las restricciones tendrás acceso a una agenda cultural y comercial de la zona</li>
          <li>Reserva de turnos en comercios específicos</li>
        </ul>
      </div>
    </div><br>
    <div class="row justify-content-center">
      <h3 class="subtitulos">¡Tu vecino tiene la solución!</h3><br>
    </div><br>
    <button type="button" class="boton-conoce" [routerLink]="['/inicio']" fragment="seccioncomercio">CONOCER LOCALES CERCANOS
    </button>
    <div class="col d-flex justify-content-center">
      <img class="mt-1 img-fluid" src="https://i.ibb.co/JB4Zymq/meta-planes.png" alt="planes">
    </div>
  </div>

</div>

<app-footer-visitantes></app-footer-visitantes> 
