<div id='ini' class="contenedor">
  <!-- Fondo de Imagen y Rectangulo Naranja Transparente -->
  <div Style="background-image:url(/assets/barrio1920t-min.png)" class="imagen">
    <div #ini class="rectangulo">
    </div>
  </div>
  <!-- Fin Fondo de Imagen y Rectangulo Naranja Transparente -->

  <!-- Menu, Logo, Barra de Busqueda -->
  <div class="superficial">

    <!-- Logo Meta Blanco -->
    <div class="row contenedorlogo">
      <div class="col d-flex justify-content-center">
        <img class="logoblanco" src="/assets/logos/logos-06.png" alt="">
      </div>
    </div>

    <!-- Slogan Lo que quieras Cerca -->
    <div class="row contenedorsubtit">
      <div class="col d-flex align-items-center justify-content-center ">
        <span #busca id='loque' class="slogan">Lo que quieras</span><span class="txtcerca ml-2"> CERCA</span>
      </div>
    </div>

    <!-- Barra Principal Busqueda-->
    <div class="row contenedorbusqueda align-items-center justify-content-center">
      <form class="busqueda form-inline">
        <div class="busqueda input-group input-group-lg mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text d-flex justify-content-center">
              <i class="fas fa-map-marker-alt mr-2 colorprimario"></i> <span class="ciudad">San Lorenzo</span>
            </div>
          </div>
          <input type="text" class="form-control" [(ngModel)]="buscado" name="buscar" #buscar="ngModel"
            id="inlineFormInputGroupUsername2" placeholder="¿Qué estás buscando?">
          <span class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="buscarComercios()" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>
      <div class="ParrafoConoce mt-5">
        CONOCÉ LAS PROMOCIONES Y OFERTAS <br>
        DE LOS COMERCIOS CERCANOS A TU CASA.
      </div>
    </div>

    <!-- OVALO Nuevo diseño -->
    <div class="mitadovalo">
    </div>

  </div>
  <!-- Fin Menu, Logo, Barra de Busqueda -->

  <!-- Parrafo Descripcion, Carrusel, Comercios -->
  <div class="fondototal">
    <div class="fondoinicio offset-sm-1 col-sm-10">
      <div class="align-items-center justify-content-center">
        <img class="logoNaranja" src="/assets/logos/logos-05.png" alt="">
      </div>
      <div class="ParrafoMeta">
        Meta! es una plataforma digital diseñada para acercarte todos los productos y servicios de tu zona.<br />
        Podrás ver los comercios más cercanos, sus referencias y las promociones que más te convienen.<br />
        Todo desde la comodidad de tu hogar.
      </div>

      <button type="button" [routerLink]="['/quienes-somos']" class="boton-conoce">CONOCÉ MÁS
      </button>

      <div class="mt-5">
        <span #serv id='cerca' class="subtitulos">¿Qué estas buscando?</span>
      </div>

      <!-- Carrusel de Iconos Rubros -->
      <div class="my-5">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <div (click)="buscarPorRubro()">
              <button class="icono"><span class="credits1"></span></button> <br>
              <span
                style="text-align: center;font: normal normal normal 14px Wavehaus;letter-spacing: 0px;color: #3C3C3C;opacity: 1;">
                Automotor</span>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div (click)="buscarPorRubro()">
              <button class="icono"><span class="credits2"></span></button> <br>
              <span
                style="text-align: center;font: normal normal normal 14px Wavehaus;letter-spacing: 0px;color: #3C3C3C;opacity: 1;">
                Gastronomia</span>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div (click)="buscarPorRubro()">
              <button class="icono"><span class="credits3"></span></button> <br>
              <span
                style="text-align: center;font: normal normal normal 14px Wavehaus;letter-spacing: 0px;color: #3C3C3C;opacity: 1;">
                Despensa</span>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div (click)="buscarPorRubro()">
              <button class="icono"><span class="credits4"></span></button> <br>
              <span
                style="text-align: center;font: normal normal normal 14px Wavehaus;letter-spacing: 0px;color: #3C3C3C;opacity: 1;">
                Boutique</span>
            </div>
          </ng-template>

          <ng-template carouselSlide>
            <div (click)="buscarPorRubro()">
              <button class="icono"><span class="credits5"></span></button> <br>
              <span
                style="text-align: center;font: normal normal normal 14px Wavehaus;letter-spacing: 0px;color: #3C3C3C;opacity: 1;">
                Educacion</span>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div (click)="buscarPorRubro()">
              <button class="icono"><span class="credits6"></span></button> <br>
              <span
                style="text-align: center;font: normal normal normal 14px Wavehaus;letter-spacing: 0px;color: #3C3C3C;opacity: 1;">
                Hospedaje</span>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div (click)="buscarPorRubro()">
              <button class="icono"><span class="credits7"></span></button> <br>
              <span
                style="text-align: center;font: normal normal normal 14px Wavehaus;letter-spacing: 0px;color: #3C3C3C;opacity: 1;">
                Hogar</span>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div (click)="buscarPorRubro()">
              <button class="icono"><span class="credits8"></span></button> <br>
              <span
                style="text-align: center;font: normal normal normal 14px Wavehaus;letter-spacing: 0px;color: #3C3C3C;opacity: 1;">
                Libreria</span>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div (click)="buscarPorRubro()">
              <button class="icono"><span class="credits9"></span></button> <br>
              <span
                style="text-align: center;font: normal normal normal 14px Wavehaus;letter-spacing: 0px;color: #3C3C3C;opacity: 1;">
                Limpieza</span>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div (click)="buscarPorRubro()">
              <button class="icono"><span class="credits10"></span></button> <br>
              <span
                style="text-align: center;font: normal normal normal 14px Wavehaus;letter-spacing: 0px;color: #3C3C3C;opacity: 1;">
                Oficio</span>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div (click)="buscarPorRubro()">
              <button class="icono"><span class="credits11"></span></button> <br>
              <span
                style="text-align: center;font: normal normal normal 14px Wavehaus;letter-spacing: 0px;color: #3C3C3C;opacity: 1;">
                Recración-Gym</span>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div (click)="buscarPorRubro()">
              <button class="icono"><span class="credits12"></span></button> <br>
              <span
                style="text-align: center;font: normal normal normal 14px Wavehaus;letter-spacing: 0px;color: #3C3C3C;opacity: 1;">
                Sanidad</span>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>

      <!-- PROMOCIONES -->
      <div #ben id='promo' class="fondocomercios">
        <div class="row">
          <span class="subtitulos ml-3">Promociones</span>
        </div><br>

        <div class="row">
          <ng-container *ngFor="let promo of promociones">
            <div class="rectapromo mt-2">

              <div class="conten">
                <div class="row">
                  <div class="col-7" id="izq">
                    <h5 class="titulopromo">{{promo.titulo}}</h5>

                    <h6 class="parrafopromo">{{promo.descripcion}}</h6>

                    <button type="button" [routerLink]="['/quienes-somos']" class="boton-comercio">Ver comercio
                    </button> <br> <br>
                    <span>valido hasta: {{promo.hasta}}</span>
                  </div>
                  <div id="round-image">
                    <img src="/assets/logos/logo-07.png" class="redimg">
                  </div>
                  <div id="der" class="col-5">
                  </div>
                </div>
              </div>
            </div>

          </ng-container>
        </div>

      </div> <br>

      <!-- SUGERENCIAS PARA VOS -->
      <div #ben id='bene' class="fondocomercios">
        <div class="row">
          <span class="subtitulos ml-3">Sugerencias para vos</span>
        </div><br>

        <div class="row mb-3">
          <ng-container *ngFor="let comer of comercios">
            <div class="col-12 col-md-6">
              <div class="cuadrocomercio">
                <div (click)="verComercio(comer)">
                  <!-- <img class="resize_fit_center" src={{comer.url_foto}} alt="foto comercio"> -->
                  <img class="resize_fit_center"
                    [attr.src]="[comer.url_foto != null ? comer.url_foto : 'assets/logos/defaultlogo.jpeg']"
                    alt="foto comercio">
                </div>
                <div class="row">
                  <div class="col-9 col-md-12">
                      <div class="nombre-comer mt-4">
                          {{comer.nombre}}
                        </div>
                  </div>
                  <div class="col-3 colboton">
                      <button type="button" (click)="verComercio(comer)" class="botonredondo">+
                        </button>
                  </div>
                </div>

                <div class="desc-comer mt-2">
                  {{comer.descripcion}}
                </div>
                <div class="dist-comer mt-2">
                  <div class="row">
                    <div class="col-8 col-md-7 coldomicilio">
                      {{comer.domicilio}}
                    </div>
                    <div class="col-4 col-md-5 colboton">

                      <button type="button" (click)="verComercio(comer)" class="boton-comercio">Ver comercio
                      </button>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>

        <div>
          <span class="carga">Cargar más</span>
        </div>
        <div>
          <!-- <i class="arrowgris"></i> -->
        </div>
      </div> <!-- FIN SUGERENCIAS PARA VOS -->

    </div>
  </div>
  <!-- Fin Parrafo Descripcion, Carrusel, Comercios -->
</div>


<!-- FOOTER -->
<app-footer-visitantes></app-footer-visitantes>
