.contenedor {
  margin-top: -45px;
  margin-bottom: 50px;
  width: 100%;
}

.rectangulo {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 1200px;
  background: #f36904 0% 0% no-repeat padding-box;
  opacity: 0.69;
  z-index: -999;
}

.superficial {
  position: absolute;
  top: 0px;
  align-items: center;
  width: 100%;
  height: 100%;
}

/*Menu cambia de color al superar los 365px*/
.menunar {
  background: #f36904;
  opacity: 0.9;
  height: 35px;
}

/*Seccion Logo y Slogan*/
.contenedorlogo {
  top: 275px;
  position: absolute;
  width: 100%;
}

.logoblanco {
  width: 181px;
  height: 113px;
}

.contenedorsubtit {
  top: 400px;
  position: absolute;
  width: 100%;
}

.slogan {
  text-align: left;
  font: normal normal normal 37px/45px Wavehaus;
  letter-spacing: 0px;
  color: #ffffff;
  white-space: nowrap;
}

.txtcerca {
  text-align: left;
  font: normal normal bold 37px/45px Wavehaus;
  letter-spacing: 0px;
  color: #ffffff;
}

/*Seccion barra de busqueda*/
.contenedorbusqueda {
  top: 470px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  height: 5%;
}

.input-group > .input-group-prepend > .input-group-text {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}
.input-group > .input-group-append > .btn {
  background: #ee7222;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  color: white;
}
.input-group > .input-group-prepend {
  flex: 0 0 15%;
}
.input-group .input-group-text {
  width: 100%;
}

input::placeholder {
  font-size: 13px;
}

.gps {
  display: inline;
  position: relative;
  color: #ee7222;
  font-size: 28px;
}
.ciudad {
  font: normal normal 600 20px/24px Wavehaus;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}
.busqueda {
  width: 100%;
}

.btn-buscar {
  font-size: 36px;
  color: #fff;
  margin-top: 8px;
}
.input1 {
  width: 100%;
  height: 100%;
  border: transparent;
  background: transparent;
  font: normal normal 400 20px/24px Wavehaus;
  letter-spacing: 0px;
}
.input1:focus {
  border: transparent;
  background: transparent;
}
/* Fin Seccion barra de busqueda*/

.ParrafoConoce {
  text-align: center;
  font: normal normal normal 20px/27px Century;
  font-weight: bold;
  color: #ffffff;
  opacity: 1;
}

/* OVALO OVALO*/

.mitadovalo {
  background: white;
  position:absolute;
  top:960px;
  width:100%;
  height:100%;
  border-radius:45%;
}

/* .mitadovalo2 {
  position: relative;
  top: 900px;
  left: 0px;
  background-color: #ffffff;
  height: 1400px;
  width: 1400px;
  border-top-left-radius: 1000px;
  border-top-right-radius: 1000px;
} */


.fondototal {
  background: #ffffff;
  text-align: center;
  scroll-margin-bottom: 20px;
}
.fondoinicio {
  background: #ffffff;
  text-align: center;
}
.logoNaranja {
  width: 200px;
  height: 200px;
  margin-top: -200px;
}

.ParrafoMeta {
  text-align: center;
  font: normal normal normal 20px/27px Century;
  letter-spacing: 0px;
  color: #3c3c3c;
  opacity: 1;
}

.boton-conoce2 {
  background-color: #ee7222;
  border: transparent;
  color: #ffffff;
  font: normal normal normal 16px/20px Century;
  font-weight: bold;
  width: 150px;
  height: 30px;
  margin-top: 20px;
}

.boton-conoce {
  width: 140px;
  height: 45px;
  margin-top: 25px;
  /* font-family: 'Roboto', sans-serif; */
  font: normal normal normal 16px/20px Century;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: bold;
  color: #ffffff;
  background-color: #f36904;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease 0s;
  cursor: pointer;
  outline: none;
  }

.boton-conoce:hover {
  background-color: #ffffff;
  box-shadow: 0px 15px 20px rgba(233, 105, 32, 0.4);
  color: #f36904;
  transform: translateY(-3px);
}



.subtitulos {
  text-align: center;
  font: normal normal bold 27px/35px roboto;
  letter-spacing: 0px;
  color: #3c3c3c;
  opacity: 1;
}
.carrusel-iconos {
  top: 933px;
  left: 199px;
  width: 1523px;
  height: 120px;
  opacity: 1;
}



.fondocomercios {
  width: 100%;
  text-align: center;
  /* font-family: 'Wavehause', sans-serif; */
}

.cuadrocomercio{
  background: white;
  color: #545454;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  height: 500px;
  transition: box-shadow 0.3s;
  border: 3px solid #ccc;
  border-radius: 1em;
  background: #fff;

  word-wrap: break-word;
}

.nombre-comer {
  text-align: center;
  font: normal normal 800 28px/34px Wavehaus;
  letter-spacing: 0px;
  color: #3c3c3c;
  opacity: 1;
}

.desc-comer {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-left: 5px;
  font: normal normal normal 18px/24px Wavehaus;
  letter-spacing: 0px;
  color: #3c3c3c;
  opacity: 1;

}

.dist-comer {
  text-align: left;
  margin-left: 5px;
  font: normal normal 600 20px/24px Wavehaus;
  letter-spacing: 0px;
  color: #3c3c3c;
  opacity: 1;
}
.cuadrocomercio:hover {
  box-shadow: 0 0 15px rgba(0, 33, 33, 0.2);
}


.promociones {
  background: #303030;
  color: #ffffff;
  padding: 5px;
  height: 150px;
}

.parrafopromo {
  word-wrap: break-word;
  font-weight: bold;
  font-size: 22px;

}
.promo-img {
  display: inline-block;
  width: 200px;
  height: 250px;
  top: -50px;
  right: -50px;
  margin-top: -5px;
  background: orange;
  border-radius: 50%;
}
.promo-imagen {
  height: 150px;
  border-bottom-left-radius: 40%;
  border-top-left-radius: 40%;
  vertical-align: center;
}
.boton-comercio {
  width: 140px;
  height: 25px;
  margin: 5px;
  align-items: center;
  /* font-family: 'Roboto', sans-serif; */
  font: normal normal normal 10px Century;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: bold;
  color: #ffffff;
  background-color: #f36904;
  border: none;
  border-radius: 45px;
  /* box-shadow: 0px 1px 1px rgba(247, 241, 241, 0.815);
  transition: all 0.1s ease 0s; */
  outline: none;
  }

.logomanito {
  top: 50px;
  left: 70px;
  width: 60px;
  height: 50px;
border-radius: 50%;
z-index: 999;
}


.rectapromo {
  margin-right: 50px;
  margin-left: 20px;
  width: 400px;
  height: 150px;
  background: #3c3c3c;
  color: #ffffff;
  font: normal normal normal 10px Century;
  font-size: 13px;
  transition: box-shadow 0.3s;
  border-right: royalblue;

}

.rectapromo:hover {
  box-shadow: 0 0 15px rgba(0, 33, 33, 0.2);
}





.resize_fit_center {
  width: 350px; /* you can use % */
  height: auto;
  max-width: 95%;
  max-height: 80%;
  vertical-align: middle;
  border-radius: 1em;
}

.screen-70 {
  min-height: 70vh;
}


.arrowgris {
  text-align: center;
  border: solid #7b7b7b;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 8px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  opacity: 1;
}

.carga {
  text-align: center;
  font: normal normal bold 17px/22px Wavehaus;
  letter-spacing: 0px;
  color: #7b7b7b;
  opacity: 1;
}

/* .footer {
  height: 60px;
  background: #ee7222;
  color: white;
  text-align: center;
}
.footercel {
  display: none;
}

/* texto de footer */
/* .cen {
  width: 100%;
  height: 60px;
  text-align: center;
  font: normal normal 500 15px/18px Wavehaus;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
} */

.rubros-icon {
  background: #3c3c3c 0% 0% no-repeat padding-box;
  opacity: 1;
}

.rubros-desc {
  text-align: center;
  font: normal normal normal 28px/34px Wavehaus;
  letter-spacing: 0px;
  color: #3c3c3c;
  opacity: 1;
}

.icono {
  border-color: #ebebeb;
  background-color: transparent;
  border-color: transparent;
}
span.credits1 {
  background: url(/assets/carrusel/PNG/Automotor.png) no-repeat top left;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 60px;
  width: 60px;
}
span.credits2 {
  background: url(/assets/carrusel/PNG/Gastronomia.png) no-repeat top left;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 60px;
  width: 60px;
}
span.credits3 {
  background: url(/assets/carrusel/PNG/Despensa.png) no-repeat top left;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 60px;
  width: 60px;
}
span.credits4 {
  background: url(/assets/carrusel/PNG/Boutique.png) no-repeat top left;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 60px;
  width: 60px;
}
span.credits5 {
  background: url(/assets/carrusel/PNG/Educacion.png) no-repeat top left;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 60px;
  width: 60px;
}
span.credits6 {
  background: url(/assets/carrusel/PNG/Hospedaje.png) no-repeat top left;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 60px;
  width: 60px;
}
span.credits7 {
  background: url(/assets/carrusel/PNG/Hogar.png) no-repeat top left;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 60px;
  width: 60px;
}
span.credits8 {
  background: url(/assets/carrusel/PNG/Libreria.png) no-repeat top left;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 60px;
  width: 60px;
}
span.credits9 {
  background: url(/assets/carrusel/PNG/Limpieza.png) no-repeat top left;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 60px;
  width: 60px;
}
span.credits10 {
  background: url(/assets/carrusel/PNG/Oficios.png) no-repeat top left;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 60px;
  width: 60px;
}
span.credits11 {
  background: url(/assets/carrusel/PNG/Recreacion-Gym.png) no-repeat top left;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 60px;
  width: 60px;
}
span.credits12 {
  background: url(/assets/carrusel/PNG/Sanidad.png) no-repeat top left;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 60px;
  width: 60px;
}

.footerrectangulo {
  width: 100%;
  height: 300px;
  background-color: #3c3c3c;
}

.footertriangulo {
  border-right: 39.5rem solid #3c3c3c;
  border-left: 39.5rem solid #3c3c3c;
  border-top: 120px solid white;
}

.footer-link {
  color: white;
}

.footer-link:hover {
  text-decoration-line: underline;
}


.android {
  width: 100%;
  height: 80px;
}
.logoandroid {
display: none;
}

/*banner de promo matias*/
.conten{
  position: relative;
  height: 150px;
  width: 100%;
  padding-left: 0px;
}

.titulopromo{
  padding-top: 5px;
  font-weight: bold;
  text-overflow: clip;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  animation-name: titulopromo;
  animation-duration: 7s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes titulopromo{
  0%{ transform: translateX(100px); }
  50%{ transform: translateX(-30px); }
  100%{ transform: translateX(0px); }
}

#izq{
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
}

#der{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: peachpuff;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

#round-image{
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 20;
  width: 45px;
  height: 45px;
  margin-left: 9px;
  margin-top: -15px;
  border-radius: 50%;
  background: pink;
}
.redimg{
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 22;
  width: 45px;
  height: 45px;
  margin-left: -22px;
  margin-top: -23px;
  border-radius: 50%;

}

@media (max-width: 1024px) {
  .contenedorbusqueda {
    width: 80%;
  }
  .rectangulo {
    height: 950px;
  }

  .contenedorlogo {
    top: 150px;
  }

  .contenedorsubtit {
    top: 270px;
  }

  .contenedorbusqueda {
    top: 370px;
  }

  .mitadovalo {
    background: white;
    position:absolute;
    top:750px;
    width:100%;
    height:100%;
    border-radius:50%;
  }
  .logoNaranja {
    margin-top: -80px;
  }

  .boton-comercio {
    width: 90px;
    height: 25px;
    margin: 5px;
    font-size: 9px;
    border-radius: 45px;
    }

  .footertriangulo {
    border-right: 32rem solid #3c3c3c;
    border-left: 32rem solid #3c3c3c;
    border-top: 100px solid white;
  }
}

/* CSS PARA MOBILE */
@media (max-width: 900px) {
  .cont {
    display: none;
  }
  .contcel {
    display: inline;
    position: fixed;
    z-index: 9999;
  }
  .contenedor {
    margin-bottom: 80px;
  }
  .rectangulo {
    height: 500px;
  }
  .superficial {
    height: 500px;
  }
  /*Seccion logo y subtitulo*/
  .contenedorlogo {
    top: 25px;
    position: absolute;
    width: 100%;
  }

  .logoblanco {
    width: 90px;
    height: 66px;
  }

  .contenedorsubtit {
    top: 100px;
  }

  .slogan {
    font: normal normal normal 17px/25px Wavehaus;
  }
  .txtcerca {
    font: normal normal bold 17px/25px Wavehaus;
  }

  /*Seccion barra de busqueda*/
  .contenedorbusqueda {
    top: 150px;
    left: 0;
    right: 0;
    margin: auto;
    font: normal normal 600 12px Wavehaus;
    width: 95%;
    height: 5%;
  }

  .menudesplegado {
    background: #ee7222;
    opacity: 0.9;
  }

  .dropdown-item {
    display: block;
    width: 100%;
    clear: both;
    text-align: inherit;
    white-space: normal;
    background-color: transparent;
    border: 3;
  }

  .gps {
    display: none;
  }
  .ciudad {
    font: normal normal 600 12px Wavehaus;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
  }
  .btn-buscar {
    font-size: 20px;
  }

  .ParrafoConoce {
    font: normal normal normal 15px Century;
  }

  .mitadovalo2 {
    position: relative;
    top: 400px;
    left: -20%;
    height: 130%;
    width: 140%;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
  }


.mitadovalo {
  height: 1000px;
  width: 1000px * 1;
  border-top-left-radius: 2100px;
  border-top-right-radius: 2100px;
}


  .logoNaranja {
    width: 120px;
    height: 120px;
    margin-top: -80px;
  }
  .ParrafoMeta {
    font: normal normal normal 15px Century;
  }

  /*recuadro fondo blanco de comercios*/


  .parrafoini {
    font: normal normal normal 14px Century;
  }

  .redes {
    font-size: 2em;
  }

  .footerrectangulo {
    width: 100%;
    height: 350px;
    background-color: #3c3c3c;
  }

  .footertriangulo {
    display: none;
  }
  .android {
    display: none;
  }

  .logoandroid {
    background: #3c3c3c;
    background-color: red;
    width: 60px;
    height: 60px;
  }
}
/* Fin CSS PARA MOBILE */
