  .position-fixed{
    position: fixed;
    top: 0;
    z-index: 9999;
  }
  .input1 {
    background: white;
    border-color: #cc5316 !important;
    color: -internal-light-dark(yellow, white);
    font-family: sans-serif;
    padding-left: 0.5rem;
  }
/*   .input1:focus {
    border-color: yellow!important;
    lighting-color: aqua !important;
    border-radius: 1rem;
    font-family: sans-serif;
    padding-left: 0.5rem;
    box-lines: green;
  } */

  .mat-raised-button{
    color: white !important;
  }
  .tt{
    padding-top: 70px;
    vertical-align: center;
    width:100%;
  }

  .Titulo2{
    padding-top: 70px;
    color: white;
    font-size: 50px;
    text-align:center;
  }
  .Titulo3{
    padding-top: 70px;
    color: #cc5316;
    font-size: 50px;
    text-align: center;
  }
  .palabracolor{
    color: #cc5316;
  }
  .palabrapie{
    size: 12;
  }
  .parrafo{
    color: white;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .parrafo2{
    color: #cc5316;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  /* .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    text-align: center;
    width:100%;
}
.embed-container iframe {
    position: absolute;
    text-align: center;
    display: block;
} */


  .bg-blanco{
    background-color: white;
  }
  .bg-grisclaro{
    background-color: #e75514;
  }
  .bg-gris{
    background-color: #ccc8c7;
  }
  .bg-naranja{
    background-color: #f18743;
    border: 20px solid rgba(0, 0, 0, 0.1);
    -moz-background-clip: border;     /* Firefox 3.6 */
    -webkit-background-clip: border;  /* Safari 4? Chrome 6? */
    background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
  }


  .circulo{
    width: 180px;
    height: 180px;
    margin: 20px;
    border-radius: 50%;
    background-color: #cc5316;
  }
  .section {
    padding: 100px 0;
    background-color: grey;
  }

  .logo{
    max-width:150px;
    max-height:150px;
    width:100%;
    height:100%;
  }

  .logo-nar{
    max-width:400px;
    width:100%;
    height:100%;
  }
  .centrado{
    flex: 1 1 auto;
    text-align: center;
  }
  .example-spacer {
    flex: 1 1 auto;
  }

  .tarjeta-info {
    margin: 20px;
    max-width: 100%;
  }
  .tarjeta-promo {
    margin: 10px;
    max-width: 100%;
    height: 200px;
  }
  .div-promo {
    background: white;
    color: #545454;
    margin: 10px;
    padding: 10px;
    width: 100%;
    height: 200px;
    transition: box-shadow .3s;
    border: 1px solid #ccc;
    background: #fff;
    float: left;
  }
  .div-promo:hover {
    box-shadow: 0 0 15px rgba(0,33,33,.2);
  }
  .resize_fit_center {
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}
.piedepagina{
  padding: 10px;
  padding-bottom: 70px;
  background: #cc5316;
  color: white;
  height: 180px;
  text-align: center;
  vertical-align: center;
  width:100%;
}

.btn-link{
  height: 15px;
  color: white;
}
.btn-link:hover{
  color: white;
}

  .btn-google {
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 1px #ddd
}

  .example-header-image {
    background-image: url('https://img.icons8.com/cute-clipart/64/000000/google-logo.png');
    background-size: cover;
  }

  @media (max-width: 991px) {
    .section {
      padding-top: 70px;
      padding-bottom: 70px;
    }
  }
  @media (max-width: 767px) {
    .section {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .logo{
      max-width:100px;
      max-height:100px;
      width:100%;
      height:100%;
    }
  }

  /* ----------------------
*	Height width
---------------------------*/
.full-screen {
  min-height: 100vh;
}

.screen-85 {
  min-height: 85vh;
}

.screen-65 {
  min-height: 65vh;
}

.screen-50 {
  min-height: 50vh;
}
